<div class="ul-group-title-simple">
    全部分类
</div>
<div class="ul-class-1">
    <div class="item" data-repeat="3">
        <div class="title">足球</div>
        <div class="desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="image ul-demo-img-bg">

        </div>
        <div class="footer">
            19w人关注
        </div>
    </div>
    <div class="item colord-blue">
        <div class="title">足球</div>
        <div class="desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="image ul-demo-img-bg">

        </div>
        <div class="footer">
            19w人关注
        </div>
    </div>
</div>