<div class="ul-course-list">
    <a class="ul-course-item" data-repeat="10">
        <div class="ul-course-item-poster-container">
            <div class="layui-btn layui-btn-xs ul-course-item-tag">
                免费
            </div>
            <div class="ul-course-item-poster" style="background-image: url('/static/images/view.jpg');">
            </div>
        </div>
        <div class="ul-course-item-info">
            <div class="ul-course-item-title">
                PHP8最新特性介绍和演示
            </div>
            <div class="ul-course-item-options">
                <div class="ul-course-item-option-item ul-color-main">
                    免费
                </div>
                <div class="ul-course-item-option-item">
                    初级
                </div>
                <div class="ul-course-item-option-item">
                    3节课
                </div>
                <div class="ul-course-item-option-item">
                    1人报名
                </div>
            </div>
        </div>
    </a>
</div>