.ul-avatar-sidebar-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__img {
        width: 58px;
        height: 58px;
        border-radius: 58px;
        background-image: url("/static/images/avatar.png");
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
    }

    &__title,
    &__intro {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__info {
        margin-left: $space-sm;
        width: calc(100% - 58px - #{$space-sm});
        min-width: 0;
    }

    &__intro {
        font-size: $font-size-sm;
        color: $color-text-secondary;
        line-height: 2;
    }
}

.ul-avatar-sidebar-list {
    .ul-avatar-sidebar-item + .ul-avatar-sidebar-item {
        margin-top: $space-sm;
    }
}
