<div class="ul-list-user-info">
    <div class="item" data-repeat="4">
        <div class="info">
            <div class="avatar ul-demo-img-bg circle" style="width: 60px;height: 60px;">

            </div>
            <div class="main">
                <div class="header">
                    <div class="name">
                        奥古斯宏
                    </div>
                    <div class="tag-item">
                        8年经验
                    </div>
                    <div class="tag-item">
                        全栈开发
                    </div>
                </div>
                <div class="content">
                    <div class="info-item">
                        PHP全栈开发
                    </div>
                    <div class="info-item">
                        开源
                    </div>
                    <div class="info-item">
                        山东
                    </div>
                </div>
                <div class="footer">
                    <div class="title-item">
                        ￥ 2200
                    </div>
                    <div class="text-item">
                        山东
                    </div>
                    <div class="text-item">
                        3.3.km
                    </div>
                </div>
            </div>
        </div>
        <div class="option">
            <div class="layui-btn layui-btn-sm">
                联系
            </div>
        </div>
    </div>
</div>