{volist name='type' id='vo_type'}
{volist name='position' id='vo_position'}
<div class="ul-title-section">类名 ul-descriptions-form {$vo_type} {$vo_position}</div>
<div class="ul-descriptions-form {$vo_type} {$vo_position}">
    <div class="ul-descriptions-form__item">
        <div class="ul-descriptions-form__label">商品分类</div>
        <div class="ul-descriptions-form__value">图书 </div>
    </div>
    <div class="ul-descriptions-form__item">
        <div class="ul-descriptions-form__label">商品标题</div>
        <div class="ul-descriptions-form__value">中国科幻基石丛书：三体全集（套装1-3册） </div>
    </div>
    <div class="ul-descriptions-form__item">
        <div class="ul-descriptions-form__label">封面</div>
        <div class="ul-descriptions-form__value">
            <img
                class="ul-descriptions-form__poster-item"
                src="http://cdn.bookcase.ulthon.com/upload/book/619142b09b36c.jpe"
                alt=""
            >
        </div>
    </div>
    <div class="ul-descriptions-form__item">
        <div class="ul-descriptions-form__label">作者</div>
        <div class="ul-descriptions-form__value">刘慈欣 </div>
    </div>
    <div class="ul-descriptions-form__item">
        <div class="ul-descriptions-form__label">价格</div>
        <div class="ul-descriptions-form__value">50.30 </div>
    </div>
    <div class="ul-descriptions-form__item full-line">
        <div class="ul-descriptions-form__label">商品详情</div>
        <div class="ul-descriptions-form__value">
            <div class="ul-descriptions-form__article-item">第一部
                《三体》
                文化大革命如火如荼地进行，天文学家叶文洁在其间历经劫难，被带到军方绝秘计划“红岸工程”。叶文洁以太阳为天线，向宇宙发出地球文明的第一声啼鸣，取得了探寻外星文明的突破性进展。三颗无规则运行的太阳主导下，四光年外的“三体文明”百余次毁灭与重生，正被逼迫不得不逃离母星，而恰在此时，他们接收到了地球发来的信息。对人性绝望的叶文洁向三体人暴露了地球的坐标，彻底改变了人类的命运。
                地球的基础科学出现了异常的扰动，纳米科学家汪淼进入神秘的网络游戏《三体》，开始逐步逼近这个世界的真相。汪淼参加一次玩家聚会时，接触到了地球上应对三体人到来而形成的一个秘密组织（ETO）。地球防卫组织中国区作战中心通过“古筝计划”，一定程度上挫败了拯救派和降临派扰乱人类科学界和其他领域思想的图谋，获悉处于困境之中的三体人为了得到一个能够稳定生存的世界决定入侵地球。
                在运用超技术锁死地球人的基础科学之后，庞大的三体舰队开始向地球进发，人类的末日悄然来临 [3-6] 。
                第二部
                《三体2：黑暗森林》
                三体人在利用科技锁死了地球人的科学之后，出动庞大的宇宙舰队直扑太阳系，面对地球文明前所未有的危局，人类组建起同样庞大的太空舰队，同时（PDC）利用三体人思维透明的致命缺陷，制订了“面壁计划”。出乎意料地，社会学教授罗辑被选出作为四位“面壁者”之一，展开对三体人的秘密反击。虽然三体人自身无法识破人类的计谋，却依靠由地球人中的背叛者挑选出的“破壁人”与“面壁者”进行智慧博弈。
                在这场你死我活的文明生存竞争中，罗辑由一开始的逃避和享乐主义，逐渐成长为一位坚定的面壁者，两个文明间的博弈，面壁计划的实施，人类舰队的末日战役，罗辑与三体文明的对决，都通过他的视角一一展现。罗辑证实了宇宙文明间的黑暗森林法则，任何暴露自己位置的文明都将很快被消灭。
                借助于这一发现，他以向全宇宙公布三体世界的位置坐标相威胁，暂时制止了三体对太阳系的入侵，使地球与三体建立起脆弱的战略平衡 [7-10] 。
                第三部
                《三体3：死神永生》
                与三体文明的战争使人类首次看到了宇宙黑暗的真相，地球文明像一个恐惧的孩子，熄灭了寻友的篝火，在暗夜中发抖。自以为历经沧桑，其实刚刚蹒跚学步；自以为悟出了生存竞争的秘密，其实还远没有竞争的资格。
                使两个文明命悬一线的黑暗森林打击，不过是宇宙战场上一个微不足道的插曲。真正的星际战争没人见过，也不可能见到，因为战争的方式和武器已经远远超出人类的想象，目睹战场之日，即是灭亡之时。
                宇宙的田园时代已经远去，昙花一现的终极规律，像一个幽灵，在宇宙中游荡。人类马上要为自己的幼稚付出代价 [11-13] 。
            </div>
        </div>
    </div>
</div>
{/volist}
{/volist}