.ul-descriptions-form {

    width: 100%;


    .item {
        float: left;
        width: calc(50% - 20px);



        .label {
            font-size: 13px;
            color: #999;
            padding: 10px;
        }

        .value {
            font-size: 14px;
            color: #333;
            padding: 10px;
        }

        &.full-line {
            width: 100%;
        }

        &.poster {
            .poster-item {
                height: 55px;
            }
        }

        .article-item {
            color: #666;

            // 文本换行
            white-space: pre-wrap;
            word-wrap: break-word
        }
    }

    // 增加边框
    &.border {

        .item {

            border: 1px solid #e8e8e8;
            width: 50%;
            border-top: 0;
            border-left: 0;
            margin-top: -1px;
            margin-left: -1px;


            &.full-line {
                width: 100%;
            }
        }

        width: calc(100% - 2px);
        border: 1px solid #e8e8e8;
        border-right: 0;
        border-bottom: 0;

    }

    // 左右排列
    &.space-between {
        .item {

            .label {
                width: 80px;
                text-align: right;
                margin-right: 10px;
                white-space: nowrap;
                float: left;

            }

            .value {
                margin-left: 5px;
                float: left;
            }

            &.full-line {
                .label {
                    width: calc(100% - 20px);
                    text-align: center;
                    margin-right: 0;
                }

                .value {
                    margin-left: 0;
                }
            }
        }

    }

    &.space-between.border {
        .item {
            .label {
                border-right: 1px solid #e8e8e8;
            }

            &.full-line {
                .label {
                    border-right: 0;
                    border-bottom: 1px solid #e8e8e8;
                }

            }
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}