.ul-group-list {

}



.ul-card-list {
    display  : flex;
    flex-wrap: wrap;
}

.ul-card-list .ul-card {
    margin-right: 15px;
}

.ul-card-list .layui-card:last-child {
    margin-bottom: 15px;
}
