<div class="ul-nav-info">
    <div class="ul-nav-info__item">
        <div class="ul-nav-info__item__main">
            <div class="ul-nav-info__item__main__info">
                <div class="ul-nav-info__item__main__icon">
                    <i class="layui-icon layui-icon-set"></i>
                </div>
                <div class="ul-nav-info__item__main__title">
                    设置
                </div>
            </div>
            <div class="ul-nav-info__item__main__content">
                设置系统信息
            </div>
        </div>
        <div class="ul-nav-info__item__right">
            <div class="ul-nav-info__item__right__item">
                新版本
            </div>
            <div class="ul-nav-info__item__right__item">
                <i class="layui-icon layui-icon-right"></i>
            </div>
        </div>
    </div>
    <div class="ul-nav-info__item">
        <div class="ul-nav-info__item__main">
            <div class="ul-nav-info__item__main__info">
                <div class="ul-nav-info__item__main__icon">
                    <i class="layui-icon layui-icon-set"></i>
                </div>
                <div class="ul-nav-info__item__main__title">
                    设置
                </div>
            </div>
        </div>
        <div class="ul-nav-info__item__right">
            <div class="ul-nav-info__item__right__item">
                新版本
            </div>
            <div class="ul-nav-info__item__right__item">
                <i class="layui-icon layui-icon-right"></i>
            </div>
        </div>
    </div>
    <div class="ul-nav-info__item">
        <div class="ul-nav-info__item__main">
            <div class="ul-nav-info__item__main__info">
                <div class="ul-nav-info__item__main__title">
                    设置
                </div>
            </div>
        </div>
        <div class="ul-nav-info__item__right">
            <div class="ul-nav-info__item__right__item">
                新版本
            </div>
            <div class="ul-nav-info__item__right__item">
                <i class="layui-icon layui-icon-right"></i>
            </div>
        </div>
    </div>
    <div class="ul-nav-info__item">
        <div class="ul-nav-info__item__main">
            <div class="ul-nav-info__item__main__info">
                <div class="ul-nav-info__item__main__icon ">
                    <div class="ul-demo-img-bg" style="width:30px;height: 30px;"></div>
                </div>
                <div class="ul-nav-info__item__main__title">
                    设置
                </div>
            </div>
        </div>
        <div class="ul-nav-info__item__right">
            <div class="ul-nav-info__item__right__item">
                新版本
            </div>
            <div class="ul-nav-info__item__right__item">
                <i class="layui-icon layui-icon-right"></i>
            </div>
        </div>
    </div>
</div>