<div class="ul-order-list-simple-card">
    <div class="item" v-for="i in 3">
        <div class="item-header">
            <div class="item-header-title"> <i class="layui-icon layui-icon-home"></i> 奥宏商店</div>
            <div class="item-header-status">处理中</div>

        </div>
        <div class="item-body">
            <div class="item-body-item">
                <div class="item-image" style="background-image: url('/static/images/view.jpg');">

                </div>
                <div class="item-info">
                    <div class="ul-info-title">商品名称商品名称商品名称商品名称商品名称商品名称</div>
                    <div class="ul-info-value">
                        <div class="ul-info-value-item">
                            500ml
                        </div>
                        <div class="ul-info-value-item">
                            数量×2
                        </div>
                    </div>
                    <div class="ul-info-money">
                        ￥1300.00
                    </div>
                </div>
            </div>
        </div>
        <div class="item-footer">
            <div class="item-footer-item">
                2022年4月4日11:31:24
            </div>
            <div class="item-footer-item">
                <div class="">

                    <div class="layui-btn layui-btn-sm layui-btn-primary">取消</div>
                    <div class="layui-btn layui-btn-sm layui-btn-normal">评价</div>
                </div>
            </div>
        </div>
    </div>

</div>