.ul-order-list {
    .ul-order-card + .ul-order-card {
        margin-top: $space-md;
    }
}


.ul-order-card {
    background-color: $color-white;
    border-radius: $radius-md;
    padding: $space-md;

    &__header,
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        font-size: $font-size-md;
        padding-bottom: $space-md;
        border-bottom: 1px solid $color-border;
    }

    &__shop {
        color: $color-text;
        font-weight: bold;
        .layui-icon {
            margin-right: $space-sm;
        }
    }

    &__status {
        color: $color-primary-base;
    }

    &__body {
        padding: $space-md 0;
    }

    &__product {
        display: flex;
        align-items: flex-start;
    }

    &__product-image {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        margin-right: $space-md;
        background-color: $color-main-light;
        border-radius: $radius-sm;
    }

    &__product-info {
        flex: 1;
        min-width: 0;
    }

    &__product-title {
        color: $color-text;
        margin-bottom: $space-sm;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__product-spec {
        display: flex;
        flex-wrap: wrap;
        color: $color-text-secondary;
        font-size: $font-size-sm;
        align-items: baseline;
        &-item + &-item {
            margin-left: $space-md;
        }
    }

    &__price {
        font-weight: bold;
        margin-left: $space-md;
    }

    &__footer {
        padding-top: $space-md;
        border-top: 1px solid $color-border;
    }


    &__meta {
        font-size: $font-size-sm;
        color: $color-text-secondary;
    }

    &__actions {
        .layui-btn + .layui-btn {
            margin-left: $space-md;
        }
    }
}