<div class="ul-order-list">
    <div class="ul-order-card" v-for="i in 3">
        <div class="ul-order-card__header">
            <div class="ul-order-card__shop"> <i class="layui-icon layui-icon-home"></i> 奥宏商店</div>
            <div class="ul-order-card__status">处理中</div>
        </div>
        <div class="ul-order-card__body">
            <div class="ul-order-card__product">
                <div class="ul-order-card__product-image ul-demo-product"></div>
                <div class="ul-order-card__product-info">
                    <div class="ul-order-card__product-title">商品名称商品名称商品名称商品名称商品名称商品名称</div>
                    <div class="ul-order-card__product-spec">
                        <div class="ul-order-card__product-spec-item">500ml</div>
                        <div class="ul-order-card__product-spec-item">数量×2</div>
                    </div>
                </div>
                <div class="ul-order-card__price">
                    ￥1300.00
                </div>
            </div>
        </div>
        <div class="ul-order-card__footer">
            <div class="ul-order-card__meta">
                2022年4月4日11:31:24
            </div>
            <div class="ul-order-card__actions">
                <div class="ul-btn ul-btn-sm ul-btn-primary">取消</div>
                <div class="ul-btn ul-btn-sm ul-btn-normal">评价</div>
            </div>
        </div>
    </div>
</div>