<div class="ul-info-card">
    <div class="header">
        <div class="img" style="background-image: url('/static/images/view.jpg');">

        </div>
    </div>
    <div class="body">
        <div class="title">
            奥宏科技
        </div>
        <div class="line">

        </div>
        <div class="info">
            <div class="info-item">
                <div class="info-title">ID</div>
                <div class="info-value">2369</div>
            </div>
            <div class="info-item">
                <div class="info-title">性别</div>
                <div class="info-value">男</div>
            </div>
            <div class="info-item">
                <div class="info-title">工作时间</div>
                <div class="info-value">3年</div>
            </div>
            <div class="info-item">
                <div class="info-title">地址</div>
                <div class="info-value">山东省临沂市兰山区</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="layui-btn layui-btn-fluid layui-btn-normal">
            <i class="layui-icon layui-icon-cellphone"></i> 立即联系
        </div>
    </div>
</div>