<div class="ul-tab ul-tab-card">
    <ul class="ul-tab-title ul-tab-card__title">
        <li class="ul-tab-item ul-tab-card__item active">标签一</li>
        <li class="ul-tab-item ul-tab-card__item">标签二</li>
        <li class="ul-tab-item ul-tab-card__item">标签三</li>
        <li class="ul-tab-item ul-tab-card__item">标签四</li>
        <li class="ul-tab-item ul-tab-card__item">标签五</li>
    </ul>
    <div class="ul-tab-content ul-tab-card__content">
        <div class="ul-tab-pane ul-tab-card__pane ul-show">
            标签一的内容
        </div>
        <div class="ul-tab-pane ul-tab-card__pane">
            标签二的内容
        </div>
        <div class="ul-tab-pane ul-tab-card__pane">
            标签三的内容
        </div>
        <div class="ul-tab-pane ul-tab-card__pane">
            标签四的内容
        </div>
        <div class="ul-tab-pane ul-tab-card__pane">
            标签五的内容
        </div>
    </div>
</div>