<div class="ul-nav-button">
    <div class="ul-nav-button__item">
        <div class="ul-nav-button__icon">
            <i class="icon fa fa-plus-circle"></i>
        </div>
        <div class="ul-nav-button__info">
            <div class="ul-nav-button__title">
                发布公告
            </div>
            <div class="ul-nav-button__desc">
                发布文字/图片和视频.
            </div>
        </div>
    </div>

    <div class="ul-nav-button__item">
        <div class="ul-nav-button__icon">
            <i class="icon fa fa-info-circle"></i>
        </div>
        <div class="ul-nav-button__info">
            <div class="ul-nav-button__title">
                关于
            </div>
            <div class="ul-nav-button__desc">
                查看详细系统信息
            </div>
        </div>
    </div>
</div>