<div class="layui-word-aux">一般大小</div>
<div class="ul-book-list">
    <div class="ul-book-item" data-repeat="6">
        <div class="ul-book-poster" style="background-image: url('/static/images/view.jpg');">

        </div>
        <div class="ul-book-info">
            <div class="ul-book-title">三体</div>
            <div class="ul-book-author">刘慈欣</div>
            <div class="ul-book-status">阅读次数333</div>

        </div>
    </div>
</div>
<div class="layui-word-aux">大号</div>
<div class="ul-book-list big">
    <div class="ul-book-item" data-repeat="6">
        <div class="ul-book-poster" style="background-image: url('/static/images/view.jpg');">

        </div>
        <div class="ul-book-info">
            <div class="ul-book-title">三体</div>
            <div class="ul-book-author">刘慈欣</div>
            <div class="ul-book-status"><span>阅读</span><span>3333</span></div>

        </div>
    </div>
</div>