<div class="ul-section ul-col-md-3"> 
    <div
        class="ul-nav-poster"
    >
        <!-- 默认状态 -->
        <div
            class="ul-nav-poster__item"
            data-repeat="2"
        >
            <div class="ul-nav-poster__left">
                <div
                    class="ul-nav-poster__img ul-demo-person"
                >
    
                </div>
                <div class="ul-nav-poster__title">
                    清新风景
                </div>
            </div>
            <div class="ul-nav-poster__right">
                <div class="ul-nav-poster__desc">进入系统</div>
            </div>
        </div>
        
        <!-- 激活状态 -->
        <div
            class="ul-nav-poster__item active"
            data-repeat="2"
        >
            <div class="ul-nav-poster__left">
                <div
                    class="ul-nav-poster__img ul-demo-person"
                >
    
                </div>
                <div class="ul-nav-poster__title">
                    山水画卷
                </div>
            </div>
            <div class="ul-nav-poster__right">
                <div class="ul-nav-poster__desc">进入系统</div>
            </div>
        </div>
        
        <!-- 禁用状态 -->
        <div
            class="ul-nav-poster__item disabled"
            data-repeat="2"
        >
            <div class="ul-nav-poster__left">
                <div
                    class="ul-nav-poster__img ul-demo-person"
                >
    
                </div>
                <div class="ul-nav-poster__title">
                    城市夜景
                </div>
            </div>
            <div class="ul-nav-poster__right">
                <div class="ul-nav-poster__desc">进入系统</div>
            </div>
        </div>
    </div>
</div>