<div
    class="ul-nav-poster"
    style="width: 200px;"
>
    <div
        class="ul-nav-poster-item"
        data-repeat="6"
    >
        <div class="ul-nav-poster-left">
            <div
                class="ul-nav-poster-img ul-demo-person"
            >

            </div>
            <div class="ul-nav-post-title">
                清新风景
            </div>
        </div>
        <div class="ul-nav-poster-right">
            <div class="ul-nav-poster-desc">进入系统</div>
        </div>
    </div>
</div>