.ul-title-bar {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  padding-left: $space-sm;
  position: relative;
  line-height: 1.5;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 3px;
    border-radius: $radius-sm;
    background: linear-gradient(0deg, $color-primary-light, $color-primary-base);
  }
  

  // 响应式设计
  @include media-breakpoint-down(md) {
    font-size: $font-size-base;
    &::before {
      height: 14px;
    }
  }
}