<div class="ul-group-title">
    基础标题
</div>

<div class="ul-group-title large">
    大号标题
</div>

<div class="ul-group-title small">
    小号标题
</div>

<div class="ul-group-title center">
    居中标题
</div>

<div class="ul-group-title border">
    带边框标题
</div>

<div class="ul-group-title icon">
    <i class="fa fa-star ul-group-title__icon"></i>
    带图标标题
</div>

<div class="ul-group-title dark">
    深色模式标题
</div>

<div class="ul-group-title disabled">
    禁用状态标题
</div>

<div class="ul-group-title">
    销售
</div>

<div class="ul-group-title">
    设计
</div>