<div class="ul-element-action-bar">
    <div class="ul-element-action-bar__item">
        <img class="ul-element-action-bar__icon" src="/static/images/icon-xcx.png" alt="返回小程序">
        <div class="ul-element-action-bar__title">
            返回小程序
        </div>
    </div>
    <div class="ul-element-action-bar__item">
        <div class="ul-element-action-bar__icon">
            <i class="fa fa-arrow-up"></i>
        </div>
        <div class="ul-element-action-bar__title">
            回到顶部
        </div>
    </div>
</div>