<div class="ul-card-info">
    <div class="ul-card-info__header">
        <div class="ul-card-info__img" style="background-image: url('/static/images/view.jpg');">
        </div>
    </div>
    <div class="ul-card-info__body">
        <div class="ul-card-info__title">
            奥宏科技
        </div>
        <div class="ul-card-info__line"></div>
        <div class="ul-card-info__info">
            <div class="ul-card-info__info-item">
                <div class="ul-card-info__info-title">ID</div>
                <div class="ul-card-info__info-value">2369</div>
            </div>
            <div class="ul-card-info__info-item">
                <div class="ul-card-info__info-title">性别</div>
                <div class="ul-card-info__info-value">男</div>
            </div>
            <div class="ul-card-info__info-item">
                <div class="ul-card-info__info-title">工作时间</div>
                <div class="ul-card-info__info-value">3年</div>
            </div>
            <div class="ul-card-info__info-item">
                <div class="ul-card-info__info-title">地址</div>
                <div class="ul-card-info__info-value">山东省临沂市兰山区</div>
            </div>
        </div>
    </div>
    <div class="ul-card-info__footer">
        <div class="ul-btn fluid ul-btn-primary">
            <i class=""></i> 立即联系
        </div>
    </div>
</div>