<div class="ul-tree-outline">
    <div class="ul-tree-outline__item page level-0">
        文章标题
    </div>
    <div class="ul-tree-outline__item page level-0">
        文章标题
    </div>
    <div class="ul-tree-outline__item group level-0">
        文章分组
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item group level-0">
        文章分组
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
</div>
<div class="ul-tree-outline dark">
    <div class="ul-tree-outline__item page level-0">
        文章标题
    </div>
    <div class="ul-tree-outline__item page level-0">
        文章标题
    </div>
    <div class="ul-tree-outline__item group level-0">
        文章分组
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item group level-0">
        文章分组
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item page level-1">
        二级文章标题
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-tree-outline__item point level-2">
        文章内部锚点
    </div>
</div>
