<div class="ul-user-info-list">
    <div class="ul-user-info-item" data-repeat="4">
        <div class="ul-user-info-item__avatar ul-demo-avatar">
        </div>
        <div class="ul-user-info-item__content">
            <div class="ul-user-info-item__header">
                <div class="ul-user-info-item__name">奥古斯宏</div>
                <div class="ul-user-info-item__tags">
                    <span class="ul-tag">8年经验</span>
                    <span class="ul-tag">全栈开发</span>
                </div>
            </div>
            <div class="ul-user-info-item__description">
                PHP全栈开发 开源 山东
            </div>
            <div class="ul-user-info-item__footer">
                <div class="ul-user-info-item__price">￥ 2200</div>
                <div class="ul-user-info-item__location">山东 3.3km</div>
            </div>
        </div>
        <div class="ul-user-info-item__action">
            <button class="ul-btn ul-btn-sm ul-btn-primary">联系</button>
        </div>
    </div>
</div>