.ul-nav-card {

  &.badge {

    .ul-nav-card-item-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.ul-nav-card-item {

  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 82px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ul-nav-card-item-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ul-nav-card-item-icon {
  font-size: 28px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #2E4158;
  color: #fff;
  vertical-align: bottom;
}

.ul-nav-card-item-info {
  margin-left: 10px;
}

.ul-nav-card-item-title {
  font-size: 14px;
  color: #253647;
  font-weight: 700;
  margin-bottom: 4px;
}

.ul-nav-card-item-desc {
  color: #666;
  font-size: 12px;
}

.ul-nav-card-item.disabled .ul-nav-card-item-icon {
  background-color: #908b8b;

}

.ul-nav-card-simple {

  .ul-nav-card-item {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 18px -8px #aebcca;
    border: unset;
  }

}