<div class="ul-section">
    <div class="ul-nav-card">
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        登录密码
                    </div>
                    <div class="ul-nav-card__desc">
                        建议您使用字母和数字的组合、混合大小写、在组合中加入下划线等符号。
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    修改密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        资金密码
                    </div>
                    <div class="ul-nav-card__desc">
                        资金密码用于提现、绑定银行卡等操作，可保障资金安全
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    找回资金密码
                </div>
                <div class="ul-btn ul-btn-sm">
                    修改资金密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item disabled">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        比特币转出
                    </div>
                    <div class="ul-nav-card__desc">
                        系统维护,不能转出
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm ul-btn-disabled">
                    立即转出
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-card badge">
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        登录密码
                    </div>
                    <div class="ul-nav-card__desc">
                        建议您使用字母和数字的组合、混合大小写、在组合中加入下划线等符号。
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    修改密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        资金密码
                    </div>
                    <div class="ul-nav-card__desc">
                        资金密码用于提现、绑定银行卡等操作，可保障资金安全
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    找回资金密码
                </div>
                <div class="ul-btn ul-btn-sm">
                    修改资金密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item disabled">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        比特币转出
                    </div>
                    <div class="ul-nav-card__desc">
                        系统维护,不能转出
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm ul-btn-disabled">
                    立即转出
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-card simple badge">
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        登录密码
                    </div>
                    <div class="ul-nav-card__desc">
                        建议您使用字母和数字的组合、混合大小写、在组合中加入下划线等符号。
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    修改密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        资金密码
                    </div>
                    <div class="ul-nav-card__desc">
                        资金密码用于提现、绑定银行卡等操作，可保障资金安全
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm">
                    找回资金密码
                </div>
                <div class="ul-btn ul-btn-sm">
                    修改资金密码
                </div>
            </div>
        </div>
        <div class="ul-nav-card__item disabled">
            <div class="ul-nav-card__left">
                <div class="ul-nav-card__icon">

                </div>
                <div class="ul-nav-card__info">
                    <div class="ul-nav-card__title">
                        比特币转出
                    </div>
                    <div class="ul-nav-card__desc">
                        系统维护,不能转出
                    </div>
                </div>
            </div>
            <div class="ul-nav-card__right">
                <div class="ul-btn ul-btn-sm ul-btn-disabled">
                    立即转出
                </div>

            </div>
        </div>
    </div>
</div>