
.ul-photo-card-list {
    display        : flex;
    align-items    : flex-start;
    justify-content: flex-start;
    flex-wrap      : wrap;
}

.ul-photo-card-item {
    width     : 200px;
    margin    : 15px;
    box-shadow: 0 5px 10px #999;
}

.ul-photo-card-poster {
    width              : 100%;
    height             : 140px;
    background-size    : cover;
    background-position: center;
}

.ul-photo-card-info {
    padding    : 5px;
    font-size  : 18px;
    line-height: 1.5;
}

.ul-photo-card-desc {
    font-size: 14px;
    color    : #999;
}