
.ul-photo-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: $space-lg;
}

.ul-photo-card-item {
    background-color: $color-white;
    border-radius: $radius-md;
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        box-shadow: $box-shadow-lg;
        transform: translateY(-4px);
    }

    &__poster {
        width: 100%;
        padding-top: 66.66%; // 3:2 aspect ratio
        background-size: cover;
        background-position: center;
        background-color: $color-main-light;
    }

    &__info {
        padding: $space-md;
    }

    &__title {
        font-size: $font-size-md;
        color: $color-text;
        font-weight: bold;
        @include text-ellipsis;
    }

    &__desc {
        font-size: $font-size-sm;
        color: $color-text-secondary;
        margin: $space-sm 0;
        @include text-ellipsis;
    }

    &__plus {
        font-size: $font-size-sm;
        color: $color-primary-base;
        font-weight: bold;
    }
}
