.ul-tab-basic {
  &__title {
    border-bottom: 1px solid $color-border;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: $space-sm $space-md;
    cursor: pointer;
    position: relative;
    margin-bottom: -1px; // 让选中项的下边框覆盖父元素的下边框

    &.ul-this {
      color: $color-primary-base;
      border-bottom: 2px solid $color-primary-base;
    }
  }

  &__content {
    padding: $space-md;
  }

  &__pane {
    // 默认隐藏，由 .ul-show 控制显示
    display: none;

    &.ul-show {
      display: block;
    }
  }
}