<div class="ul-tab ul-tab-basic">
    <ul class="ul-tab-title ul-tab-basic__title">
        <li class="ul-tab-item ul-tab-basic__item ul-this">HTML</li>
        <li class="ul-tab-item ul-tab-basic__item">SCSS</li>
        <li class="ul-tab-item ul-tab-basic__item">CSS</li>
        <li class="ul-tab-item ul-tab-basic__item">UniApp</li>
    </ul>
    <div class="ul-tab-content ul-tab-basic__content">
        <div class="ul-tab-pane ul-tab-basic__pane ul-show">
            HTML Content
        </div>
        <div class="ul-tab-pane ul-tab-basic__pane">
            SCSS Content
        </div>
        <div class="ul-tab-pane ul-tab-basic__pane">
            CSS Content
        </div>
        <div class="ul-tab-pane ul-tab-basic__pane">
            UniApp Content
        </div>
    </div>
</div>