/* 头部开始 */
.ul-header {
    background-color: $color-white;
    padding: $space-md;
    box-shadow: $shadow-sm;


    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__logo {
        height: 40px;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-main-light;
        margin-right: $space-md;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__name {
        font-size: $font-size-md;
        color: $color-text;
        font-weight: bold;
        margin-bottom: $space-sm;
    }

    &__options {
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
        color: $color-text-secondary;
        cursor: pointer;

        .ul-icon-exit {
            margin-right: $space-xs;
        }
    }
}
