<div class="ul-section">
    <div class="ul-header">
        <div
            class="ul-header__main"
            style="max-width: 600px;"
        >

            <div class="ul-header__left">
                <img
                    class="ul-header__logo"
                    src="/static/images/ulthon_logo_108.png"
                    alt=""
                >
            </div>
            <div class="ul-header__right">
                <div class="ul-header__user">
                    <div class="ul-header__avatar ul-demo-avatar">

                    </div>
                    <div class="ul-header__info">
                        <div class="ul-header__name">
                            奥古斯宏
                        </div>
                        <div class="ul-header__options">
                            <i class="ul-icon-exit"></i>
                            <span>退出</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="ul-section">
    <div class="ul-header ">
        <div class="ul-header__main">

            <div class="ul-header__left">
                <img
                    class="ul-header__logo"
                    src="/static/images/ulthon_logo_108.png"
                    alt=""
                >
            </div>
            <div class="ul-header__right">
                <div class="ul-header__user">
                    <div class="ul-header__avatar ul-demo-avatar">

                    </div>
                    <div class="ul-header__info">
                        <div class="ul-header__name">
                            奥古斯宏
                        </div>
                        <div class="ul-header__options">
                            <i class="ul-icon-exit"></i>
                            <span>退出</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>