<div class="ul-descriptions-row">
    <div class="item label">
        当日价格
    </div>
    <div class="item value">
        当日均价： <span class="primary">11.66</span>元/斤
    </div>
    <div class="item value">
        相对比前日：价格平稳
    </div>
    <div class="item label">
        近7日价格
    </div>
    <div class="item value">
        近7日最高价：<span class="primary">11.66</span>元/斤
    </div>
    <div class="item value">
        近7日最低价：<span class="primary">11.66</span>元/斤
    </div>
    <div class="item label">
        联系方式
    </div>
    <div class="item value">
        电话：15376477393
    </div>
    <div class="item value">
        邮箱：service@ulthon.com
    </div>
</div>