<div class="ul-descriptions-row">
    <div class="ul-descriptions-row__label">
        当日价格
    </div>
    <div class="ul-descriptions-row__value">
        当日均价： <span class="primary">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__value">
        相对比前日：<span class="success">价格平稳</span>
    </div>
    <div class="ul-descriptions-row__label">
        近7日价格
    </div>
    <div class="ul-descriptions-row__value">
        最高价：<span class="primary">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__value">
        最低价：<span class="primary">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__label">
        联系方式
    </div>
    <div class="ul-descriptions-row__value">
        电话：15376477393
    </div>
    <div class="ul-descriptions-row__value">
        邮箱：service@ulthon.com
    </div>
</div>

<div class="ul-title-section">垂直排列 .vertical</div>

<div class="ul-descriptions-row vertical">
    <div class="ul-descriptions-row__label">
        当日价格
    </div>
    <div class="ul-descriptions-row__value">
        当日均价： <span class="primary">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__value">
        相对比前日：<span class="success">价格平稳</span>
    </div>
    <div class="ul-descriptions-row__label">
        近7日价格
    </div>
    <div class="ul-descriptions-row__value">
        最高价：<span class="danger">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__value">
        最低价：<span class="primary">11.66</span>元/斤
    </div>
    <div class="ul-descriptions-row__label">
        联系方式
    </div>
    <div class="ul-descriptions-row__value">
        电话：15376477393
    </div>
    <div class="ul-descriptions-row__value">
        邮箱：service@ulthon.com
    </div>
</div>