<div class="ul-header-shape" data-augmented-ui="br-clip-x bl-clip-x">
    <div class="left">
        <img class="logo" src="/static/images/ulthon_logo_108.png">
    </div>

    <div class="main">
        ulthon_admin-奥宏快速开发后台
    </div>
    <div class="right">
        <div class="list-item">
            <div class="item">
                <i class="layui-icon layui-icon-home"></i>
            </div>
            <div class="item">
                <img src="/static/images/avatar.png" style="height: 30px;width: 30px;margin-right: 8px;">
                <span>奥古斯宏</span>
            </div>
            <div class="item">
                <i class="layui-icon layui-icon-logout"></i>
            </div>
        </div>

    </div>
</div>