<div class="ul-header-shape" data-augmented-ui="br-clip-x bl-clip-x">
    <div class="ul-header-shape__left">
        <img class="ul-header-shape__logo" src="/cdn/img/ulthon_logo_108_white.png">
    </div>

    <div class="ul-header-shape__main">
        ulthon_admin-奥宏快速开发后台
    </div>
    <div class="ul-header-shape__right">
        <div class="ul-header-shape__actions">
            <a href="/" class="ul-header-shape__action">
                <i class="fa fa-home"></i>
            </a>
            <div class="ul-header-shape__action ul-header-shape__user">
                <img src="/static/images/avatar.png" class="ul-header-shape__user-avatar">
                <span class="ul-header-shape__user-name">奥古斯宏</span>
            </div>
            <div class="ul-header-shape__action">
                <i class="fa fa-power-off"></i>
            </div>
        </div>
    </div>
</div>