.ul-header-shape {
    background: linear-gradient($color-primary-base, $color-main-hover);

    display: flex;
    align-items: center;
    padding: 0 $space-lg;
    height: 60px;
    color: $color-white;

    &__left,
    &__right {
        flex-shrink: 0;
    }

    &__main {
        flex: 1;
        min-width: 0;
        text-align: center;
        font-size: $font-size-lg;
        font-weight: bold;
    }

    &__logo {
        height: 42px;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    
    &__action {
        display: flex;
        align-items: center;
        padding: 0 $space-md;
        cursor: pointer;
        color: $color-white;
        &:visited {
            color: $color-white;
        }
        &:hover {
            color: $color-primary-light;
        }
        .layui-icon {
            font-size: $font-size-xl;
        }
    }

    &__user {
        &-avatar {
            height: 30px;
            width: 30px;
            margin-right: $space-sm;
            border-radius: 50%;
        }
    }


    @include media-breakpoint-down(sm) {
        padding: 0;
        &__logo {
            display: none;
        }
        &__action {
            padding: 0 $space-sm;
        }
        &__main {
            text-align: center;
        }
        &__user-name {
            display: none;
        }
    }
}