<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/css/common.css">
<link rel="stylesheet" href="/static/lib/prism/prism.css">
<link rel="stylesheet" href="/cdn/ului.css">
<script src="/static/lib/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/lib/jquery/jquery.cookie.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/lib/vue/vue.global.js"></script>
<script src="/static/lib/prism/prism.js"></script>

{:get_system_config('site_tongji')}