<div class="ul-card-money">
    <div class="main">
        <div class="title">可提现收入</div>
        <div class="option">
            <div class="value">5675.05</div>
            <div class="button">
                <div class="layui-btn layui-btn-sm layui-btn-warm layui-btn-radius layui-btn-xs">提现</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="item">
            <div class="label">
                总收入（元）
            </div>
            <div class="value">
                9788.6
            </div>
        </div>
        <div class="item">
            <div class="label">
                已提现（元）
            </div>
            <div class="value">
                978.6
            </div>
        </div>
    </div>
</div>