.ul-card-money {
    padding: $space-lg;
    border-radius: $radius-xl;
    color: $color-white;
    background-color: $color-primary-base; // 默认主题


    &__main {
        .ul-card-money__title {
            font-weight: $font-weight-bold;
            font-size: $font-size-sm;
        }

        .ul-card-money__option {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: $space-sm;

            .ul-card-money__value {
                font-size: 26px; // 无对应变量，暂时保留
                font-weight: $font-weight-bold;
            }

            .ul-card-money__button {
                margin-left: $space-md;
                padding-bottom: $space-sm;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: $space-lg;

        .ul-card-money__label {
            font-size: $font-size-sm;
        }

        .ul-card-money__value {
            margin-top: $space-sm;
            font-size: $font-size-lg;
        }
    }

    // 主题色变体
    @each $theme, $colors in $theme-color-variants {
        &.#{$theme} {
            background-color: map-get($colors, "base");
            color: map-get($colors, "text");
        }
    }
}
