.ul-card-money {
    padding: 26px;
    background-color: #1E9FFF;
    border-radius: 16px;
    color: #fff;

    .main {

        .title {
            font-weight: 600;
            font-size: 12px;
        }

        .option {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: 10px;

            .value {
                font-size: 26px;
                font-weight: 600;
            }

            .button {
                margin-left: 16px;
                padding-bottom: 6px;
            }
        }


    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 18px;

        .label {
            font-size: 12px;
        }

        .value {
            margin-top: 8px;
            font-size: 16px;
        }
    }
}