<div class="ul-nav-block" style="width: 160px;">
    <div class="item current">
        <div class="item-icon">
            <i class="layui-icon layui-icon-chart"></i>
        </div>
        <div class="item-title">首页</div>
    </div>
    <div class="item">
        <div class="item-icon">
            <i class="layui-icon layui-icon-light"></i>
        </div>
        <div class="item-title">订单管理</div>
    </div>
    <div class="item">
        <div class="item-icon">
            <i class="layui-icon layui-icon-app"></i>
        </div>
        <div class="item-title">产品管理</div>
    </div>
    <div class="item">
        <div class="item-icon">
            <i class="layui-icon layui-icon-about"></i>
        </div>
        <div class="item-title">其他</div>
    </div>
</div>