<div class="ul-nav-block" style="width: 160px;">
    <div class="ul-nav-block__item current">
        <div class="ul-nav-block__icon">
            <i class="fa fa-fw fa-line-chart"></i>
        </div>
        <div class="ul-nav-block__title">首页</div>
    </div>
    <div class="ul-nav-block__item">
        <div class="ul-nav-block__icon">
            <i class="fa fa-fw fa-list-alt"></i>
        </div>
        <div class="ul-nav-block__title">订单管理</div>
    </div>
    <div class="ul-nav-block__item">
        <div class="ul-nav-block__icon">
            <i class="fa fa-fw fa-th"></i>
        </div>
        <div class="ul-nav-block__title">产品管理</div>
    </div>
    <div class="ul-nav-block__item">
        <div class="ul-nav-block__icon">
            <i class="fa fa-fw fa-info-circle"></i>
        </div>
        <div class="ul-nav-block__title">其他</div>
    </div>
</div>