
.ul-nav-block {
  background-color: $color-white;
  border-radius: $radius-xl;
  overflow: hidden;

  &__item {
    display: flex;
    align-items: center;
    padding: $space-md $space-lg;
    cursor: pointer;
    transition: all .3s;
    color: $color-text;

    &:hover {
      background-color: $color-light-light;
    }

    &.active {
      background-color: $color-primary-base;
      color: $color-white;
    }
  }

  &__icon {
    margin-right: $space-sm;
    font-size: 18px;
    line-height: 1;
  }

  &__title {
    font-size: $font-size-base;
  }
}
