<div class="ul-easy-item">
    <div class="ul-easy-item__name">发货</div>
    <div class="ul-easy-item__desc">
        <div class="ul-easy-item__desc__item">
            山东临沂
        </div>
        <i>|</i>
        <div class="ul-easy-item__desc__item">
            免运费
        </div>
    </div>
</div>
<div class="ul-easy-item">
    <div class="ul-easy-item__name">保障</div>
    <div class="ul-easy-item__desc">
        <div class="ul-easy-item__desc__item">
            7天无理由退货
        </div>
        <i>|</i>
        <div class="ul-easy-item__desc__item">
            运费险
        </div>
    </div>
</div>
<div class="ul-easy-item">
    <div class="ul-easy-item__name">正品</div>
    <div class="ul-easy-item__desc">
        <div class="ul-easy-item__desc__item">
            专利
        </div>
    </div>
</div>