.ul-header-toolbar {
  background-color: $color-light-light;
  border-bottom: 1px solid $color-border;
  color: $color-text-secondary;
  font-size: $font-size-sm;
  padding: $space-sm $space-md;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0 $space-md;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $color-text;
    }

    &+& {
      border-left: 1px solid $color-border;
    }
  }

  &__user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: $space-sm;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: $space-sm;
    z-index: 100;
  }

  &__item:hover &__dropdown {
    display: block;
  }

}

@media (max-width: 768px) {
  .ul-header-toolbar {
    &__left {
      display: none;
    }

    &__main {
      justify-content: flex-end;
    }

    &__item {
      padding: 0 $space-sm;
    }
  }
}