<ul
    class="layui-nav layui-nav-tree ul-nav-easy"
    lay-filter="user-nav"
>
    <li class="layui-nav-item"><a href="">概况</a></li>
    <li class="layui-nav-item layui-this"><a href="">文章管理</a></li>
    <li class="layui-nav-item"><a href="">素材管理</a></li>
    <li class="layui-nav-item"><a href="">评论管理</a></li>
    <li class="layui-nav-item"><a href="">消息通知</a></li>
    <li class="layui-nav-item"><a href="">数据分析</a></li>
    <li class="layui-nav-item"><a href="">粉丝管理</a></li>
    <li class="layui-nav-item"><a href="">私信管理</a></li>
    <li class="layui-nav-item"><a href="">帐号设置</a></li>
</ul>