<div class="ul-section">
    <div class="ul-card-data-simple">
        <div class="ul-card-data-simple__item line">
            <div class="ul-card-data-simple__title">
                订单数量
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
            <div class="ul-card-data-simple__rate up">
                30%
            </div>
        </div>
        <div class="ul-card-data-simple__item">
            <div class="ul-card-data-simple__title">
                订单数量
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
            <div class="ul-card-data-simple__rate down">
                30%
            </div>
        </div>
        <div class="ul-card-data-simple__item">
            <div class="ul-card-data-simple__title">
                线下订单
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
            <div class="ul-card-data-simple__rate">
                30%
            </div>
        </div>
    </div>
</div>
{volist name='theme_list' id='vo'} 
<div class="ul-section">
    <div class="ul-card-data-simple {$vo}">
        <div class="ul-card-data-simple__item main">
            <div class="ul-card-data-simple__title">
                订单数量
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
            <div class="ul-card-data-simple__rate up">
                30%
            </div>
        </div>
        <div class="ul-card-data-simple__item">
            <div class="ul-card-data-simple__title">
                订单数量
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
        </div>
        <div class="ul-card-data-simple__item">
            <div class="ul-card-data-simple__title">
                线下订单
            </div>
            <div class="ul-card-data-simple__value">
                120
            </div>
        </div>
    </div>
</div>
{/volist}