.ul-card-data-simple {
  display: flex;
  gap: $space-md;
  background-color: $color-white;

  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  justify-content: flex-start;

  &__item {
    padding: $space-md;
    border-radius: $radius-base;
    position: relative;


    &.line {
      border-right: 1px solid $color-border;
      padding-right: $space-lg;
    }

    &.main {
      background-color: rgba($color-primary-base, 0.1);
    }
  }

  &__title {
    font-size: $font-size-sm;
    color: $color-text-secondary;
    margin-bottom: $space-xs;
  }

  &__value {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  &__rate {
    font-size: $font-size-sm;
    color: $color-text-secondary;
    margin-top: $space-xs;
    display: flex;
    align-items: center;

    &.up {
      color: $color-success-base;

      &::after {
        content: "↑";
      }
    }

    &.down {
      color: $color-danger-base;

      &::after {
        content: "↓";
      }
    }
  }

  // 主题色变体
  @each $theme,
  $color in $theme-colors {
    &.#{$theme} {
      background-color: $color;
      box-shadow: none;
      padding: $space-md;

      .ul-card-data-simple__item.line {
        border-color: rgba($color-white, 0.2);
      }

      .ul-card-data-simple__title,
      .ul-card-data-simple__rate {
        color: $color-white;
      }

      .ul-card-data-simple__value {
        color: $color-white;
      }


      .ul-card-data-simple__item:first-child {
        background-color: $color-white;

        .ul-card-data-simple__title,
        .ul-card-data-simple__rate {
          color: $color;
        }

        .ul-card-data-simple__value {
          color: $color;
        }
      }

      // 特殊处理 light 和 gray 主题的文本颜色
      @if $theme=='light' {

        .ul-card-data-simple__title,
        .ul-card-data-simple__rate {
          color: rgba($color-light-text, 0.7);
        }

        .ul-card-data-simple__value {
          color: $color-light-text;
        }

        .ul-card-data-simple__item:first-child {
          background-color: $color-white;

          .ul-card-data-simple__title,
          .ul-card-data-simple__rate {
            color: $color-black;
          }

          .ul-card-data-simple__value {
            color: $color-black;
          }
        }
      }

      @else if $theme=='gray' {

        .ul-card-data-simple__title,
        .ul-card-data-simple__rate {
          color: rgba($color-gray-text, 0.7);
        }

        .ul-card-data-simple__value {
          color: $color-gray-text;
        }

        .ul-card-data-simple__item:first-child {
          background-color: $color-white;

          .ul-card-data-simple__title,
          .ul-card-data-simple__rate {
            color: $color-black;
          }

          .ul-card-data-simple__value {
            color: $color-black;
          }
        }
      }
    }
  }
}