<div class="ul-section">
    <div class="ul-card-data-simple">
        <div class="item line">
            <div class="item-title">
                订单数量
            </div>
            <div class="item-value">
                120
            </div>
            <div class="item-rate up">
                30% 
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                订单数量
            </div>
            <div class="item-value">
                120
            </div>
            <div class="item-rate down">
                30% 
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                线下订单
            </div>
            <div class="item-value">
                120
            </div>
            <div class="item-rate">
                30%
            </div>
        </div>

    </div>
</div>

<div class="ul-section">
    <div class="ul-card-data-simple bg-black">
        <div class="item main">
            <div class="item-title">
                订单数量
            </div>
            <div class="item-value">
                120
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                订单数量
            </div>
            <div class="item-value">
                120
            </div>

        </div>
        <div class="item">
            <div class="item-title">
                线下订单
            </div>
            <div class="item-value">
                120
            </div>

        </div>

    </div>
</div>