<div class="ul-site-group">
    <div class="ul-site-group__header">
        基础样式
    </div>
    <div class="ul-site-list">
        <div class="ul-site-item" v-for="i in 5">
            <div class="ul-site-item__logo ul-demo-icon">
            </div>
            <div class="ul-site-item__info">
                <div class="ul-site-item__title">
                    layui奥宏样式库
                </div>
                <div class="ul-site-item__desc">
                    纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
        <div class="ul-site-item">
            <div class="ul-site-item__logo ul-demo-icon">
            </div>
            <div class="ul-site-item__info">
                <div class="ul-site-item__title">
                    高度修复
                </div>
                <div class="ul-site-item__desc">
                    纯CSS的组件案例样式大全纯CSS的组件案例样式大全纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
    </div>
</div>