<div class="ul-site-group">
    <div class="ul-site-group-header">
        基础样式
    </div>
    <div class="ul-site-list">
        <div class="ul-site-item" v-for="i in 5">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    layui奥宏样式库
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
        <div class="ul-site-item">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    高度修复
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件案例样式大全纯CSS的组件案例样式大全纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-site-group">
    <div class="ul-site-group-header">
        卡片
    </div>
    <div class="ul-site-list">
        <div class="ul-site-item card" v-for="i in 5">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    layui奥宏样式
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件
                </div>
            </div>
        </div>
        <div class="ul-site-item card">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    高度修复
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件案例样式大全纯CSS的组件案例样式大全纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-site-group">
    <div class="ul-site-group-header">
        卡片(修复高度)
    </div>
    <div class="ul-site-list">
        <div class="ul-site-item card same-height" v-for="i in 5">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    layui奥宏样式
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件
                </div>
            </div>
        </div>
        <div class="ul-site-item card same-height">
            <div class="ul-site-item-logo ul-demo-img-bg">
            </div>
            <div class="ul-site-item-info">
                <div class="ul-site-item-title">
                    高度修复
                </div>
                <div class="ul-site-item-desc">
                    纯CSS的组件案例样式大全纯CSS的组件案例样式大全纯CSS的组件案例样式大全
                </div>
            </div>
        </div>
    </div>
</div>