.ul-site-group {
    & + & {
        margin-top: $space-lg * 2;
    }

    &__header {
        font-size: $font-size-lg;
        font-weight: bold;
        margin-bottom: $space-lg;
        color: $color-text;
    }
}

.ul-site-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: $space-md;
}


.ul-site-item {
    display: flex;
    align-items: center;
    padding: $space-md;
    border: 1px solid transparent;
    border-radius: $radius-base;
    background-color: $color-bg;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        border-color: $color-primary-base;
        transform: translateY(-4px);
        box-shadow: $shadow-base;
    }

    &__logo {
        width: 48px;
        height: 48px;
        margin-right: $space-md;
        flex-shrink: 0;
        border-radius: 50%;
    }

    &__info {
        flex: 1;
        min-width: 0;
    }

    &__title {
        font-size: $font-size-md;
        color: $color-text;
        font-weight: bold;
        margin-bottom: $space-sm;
    }

    &__desc {
        color: $color-text-secondary;
        font-size: $font-size-sm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // 卡片模式
    &.card {
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white;
        border-color: $color-border;

        .ul-site-item__logo {
            width: 40px;
            height: 40px;
            border-radius: $radius-base;
            margin-right: 0;
            margin-bottom: $space-md;
        }
    }

    // 等高模式
    &.same-height {
        height: 100%;
        .ul-site-item__desc {
            white-space: normal;
        }
    }
}
