<div class="ul-data-card">
    <div class="header">
        <div class="mian">
            <i class="layui-icon layui-icon-user"></i>
            <span>奥古斯宏</span>
        </div>
        <div class="plus">
            <div class="layui-btn layui-btn-sm">详情</div>
        </div>
    </div>
    <div class="body">
        <div class="main">
            <div class="item" data-repeat="3">
                <div class="item-title">
                    姓名：
                </div>
                <div class="item-value">
                    张三
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    地址：
                </div>
                <div class="item-value">
                    内蒙古大兴安岭雷达峰红岸基地
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="main">
            2022年4月14日21:28:44
        </div>
        <div class="plus">
            <div class="layui-btn layui-btn-sm layui-btn-normal">删除</div>
            <div class="layui-btn layui-btn-sm layui-btn-primary">修改</div>
        </div>
    </div>

</div>