<fieldset class="ul-fieldset-basic">
  <legend class="ul-fieldset-basic__legend">默认</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic primary">
  <legend class="ul-fieldset-basic__legend">Primary</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic success">
  <legend class="ul-fieldset-basic__legend">Success</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic danger">
  <legend class="ul-fieldset-basic__legend">Danger</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic warning">
  <legend class="ul-fieldset-basic__legend">Warning</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic info">
  <legend class="ul-fieldset-basic__legend">Info</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>

<fieldset class="ul-fieldset-basic dark">
  <legend class="ul-fieldset-basic__legend">Dark</legend>
  <div class="ul-fieldset-basic__body">
    这里是 fieldset 的内容区域。
  </div>
</fieldset>