.ul-fieldset-basic {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 10px 15px;
  margin-bottom: 10px;

  &__legend {
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    margin-left: 20px;
    border: none;
    width: auto;
  }

  &__body {
    padding: 10px 0;
    color: #666;
  }
}

