.ul-card-data-simple.ul-card-data-simple-bg-black {
    background-color: #393D49;
    color           : #fff;
    border-radius   : 15px;
    padding         : 15px;

    box-shadow: 0 0 4px #999;

    .item {
        padding: 15px;
        margin : 0 10px 0 0;

        .item-title {
            color: #fff;
        }

        .item-value {
            font-size: 20px;
        }
    }

    .item.main {
        background-color: #fff;
        color           : #393D49;
        border-radius   : 15px;

        box-shadow  : 1px 1px 3px #999;
        margin-right: 25px;

        .item-title {
            color: #393D49;
        }
    }
}