<div class="ul-nav-tree2">
    <div class="ul-nav-tree2__group">
        <div class="ul-nav-tree2__group-title">账号管理</div>
        <div class="ul-nav-tree2__group-main">
            <a href="" class="ul-nav-tree2__item active">
                <div class="ul-nav-tree2__item-title">个人信息</div>
            </a>
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">安全中心</div>
            </a>
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">提现管理</div>
            </a>
        </div>
    </div>
    <div class="ul-nav-tree2__group">
        <div class="ul-nav-tree2__group-title">资金管理</div>
        <div class="ul-nav-tree2__group-main">
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">余额宝</div>
            </a>
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">理财产品</div>
            </a>
            <a href="" class="ul-nav-tree2__item disabled">
                <div class="ul-nav-tree2__item-title">投资记录</div>
            </a>
        </div>
    </div>
    <div class="ul-nav-tree2__group">
        <div class="ul-nav-tree2__group-title">系统设置</div>
        <div class="ul-nav-tree2__group-main">
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">通知设置</div>
            </a>
            <a href="" class="ul-nav-tree2__item">
                <div class="ul-nav-tree2__item-title">隐私设置</div>
            </a>
        </div>
    </div>
</div>