<div class="ul-title-bar">
    全部分类
</div>
<div class="ul-category-card-list">
    <div class="ul-category-card-item" data-repeat="2">
        <div class="ul-category-card-item__title">足球</div>
        <div class="ul-category-card-item__desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="ul-category-card-item__image ul-demo-view"></div>
        <div class="ul-category-card-item__footer">
            19w人关注
        </div>
    </div>
    <div class="ul-category-card-item primary">
        <div class="ul-category-card-item__title">篮球</div>
        <div class="ul-category-card-item__desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="ul-category-card-item__image ul-demo-view"></div>
        <div class="ul-category-card-item__footer">
            25w人关注
        </div>
    </div>
    <div class="ul-category-card-item success">
        <div class="ul-category-card-item__title">电竞</div>
        <div class="ul-category-card-item__desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="ul-category-card-item__image ul-demo-view"></div>
        <div class="ul-category-card-item__footer">
            32w人关注
        </div>
    </div>
    <div class="ul-category-card-item danger">
        <div class="ul-category-card-item__title">旅游</div>
        <div class="ul-category-card-item__desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="ul-category-card-item__image ul-demo-view"></div>
        <div class="ul-category-card-item__footer">
            15w人关注
        </div>
    </div>
    <div class="ul-category-card-item warning">
        <div class="ul-category-card-item__title">美食</div>
        <div class="ul-category-card-item__desc">这里写两行简单地分类描述，可以多些几字</div>
        <div class="ul-category-card-item__image ul-demo-view"></div>
        <div class="ul-category-card-item__footer">
            28w人关注
        </div>
    </div>
</div>