.ul-record-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    box-shadow: $shadow-sm;
    padding: $space-base * 3;
    margin-bottom: $space-sm;
    border-radius: $border-radius-xl;
    

    &__right {
        text-align: right;
    }

    &__name {
        font-size: $font-size-base;
    }

    &__desc {
        font-size: $font-size-sm;
        color: $color-text-secondary;
        margin-top: $space-base * 1.5;
    }

    &__change {
        font-weight: 600;
        color: $color-success-base;

        &.negative {
            color: $color-danger-base;
        }
    }
}

.ul-record-list {
    .ul-record-item:last-child {
        margin-bottom: 0;
    }
}