.ul-post-list {
    .ul-post-item {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        margin-top: 12px;

        padding-bottom: 12px;
        border-bottom: 1px solid #bbb;
        position: relative;



        .poster {
            height: 120px;
            width: 240px;
            margin-right: 12px;
        }

        .main {

            width: 100%;
            .info {
                padding-bottom: 28px;

                .title {
                    font-size: 14px;
                    font-weight: 600;
                }

                .desc {
                    font-size: 12px;
                    color: #999;
                    margin-top: 4px;
                }
            }

        }

        .options {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            bottom: 12px;
            right: 0;

            .item {
                margin-left: 12px;
            }
        }
    }
}