<div class="ul-group-title">
    基本
</div>
<div class="ul-nav-grid">
    <div class="ul-nav-grid__item">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <i class="fa fa-home"></i>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
</div>
<div class="ul-group-title">
    图标颜色
</div>
<div class="ul-nav-grid colord">
    {for start='0' end='12'}
    <div class="ul-nav-grid__item {$colors[$i%7]}">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <i class="fa fa-home"></i>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
    {/for}
</div>
<div class="ul-group-title">
    图标背景
</div>
<div class="ul-nav-grid colord-bg">
    {for start='0' end='12'}
    <div class="ul-nav-grid__item {$colors[$i%7]}">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <i class="fa fa-home"></i>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
    {/for}
</div>
<div class="ul-group-title">
    宫格边框+背景色
</div>
<div class="ul-nav-grid colord-bg box">
    {for start='0' end='12'}
    <div class="ul-nav-grid__item {$colors[$i%7]}">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <i class="fa fa-home"></i>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
    {/for}
</div>
<div class="ul-group-title">
    宫格边框+图片
</div>
<div class="ul-nav-grid box">
    {for start='0' end='4'}
    <div class="ul-nav-grid__item">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <div class="ul-demo-icon" style="width: 26px;height: 26px;"></div>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
    {/for}
</div>
<div class="ul-group-title">
    宫格边框+图片+背景
</div>
<div class="ul-nav-grid colord-bg">
    {for start='0' end='4'}
    <div class="ul-nav-grid__item {$colors[$i%7]}">
        <div class="ul-nav-grid__icon">
            <div class="ul-nav-grid__icon-main">
                <div class="ul-demo-icon" style="width: 26px;height: 26px;"></div>
            </div>
        </div>
        <div class="ul-nav-grid__title">首页</div>
    </div>
    {/for}
</div>