<div class="ul-nav-tree-2">
    <div class="ul-nav-tree-2-group">
        <div class="ul-nav-tree-2-group-title">账号管理</div>
        <div class="ul-nav-tree-2-group-main">
            <a href="" class="ul-nav-tree-2-item current">
                <div class="ul-nav-tree-2-item-title">个人信息</div>
            </a>
            <a href="" class="ul-nav-tree-2-item">
                <div class="ul-nav-tree-2-item-title">安全中心</div>
            </a>
            <a href="" class="ul-nav-tree-2-item">
                <div class="ul-nav-tree-2-item-title">提现管理</div>
            </a>
        </div>
    </div>
    <div class="ul-nav-tree-2-group">
        <div class="ul-nav-tree-2-group-title">资金管理</div>
        <div class="ul-nav-tree-2-group-main">
            <a href="" class="ul-nav-tree-2-item">
                <div class="ul-nav-tree-2-item-title">余额宝</div>
            </a>

        </div>
    </div>

</div>