.ul-music-item {

  display: flex;
  align-items: center;
  justify-content: left;
  padding: $space-sm + 2px;

  &__image {
    width: 50px;
    height: 50px;
    border-radius: $radius-base + 1px;
  }

  &__number {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin: $space-sm + 4px;
  }

  &__title {
    color: $color-text;
    font-size: $font-size-lg;
  }

  &__dot {
    color: $color-text;
    font-size: $font-size-lg;
    margin: $space-sm;
  }

  &__author {
    color: $color-text-secondary;
    font-size: $font-size-sm + 1px;
  }
}

.ul-music-list {}