.ul-descriptions-info {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;
    flex-wrap      : wrap;
    flex-shrink    : 1;

    &__item {
        width          : 50%;
        line-height    : 2.5;
        display        : flex;
        align-items    : center;
        justify-content: flex-start;
        color          : #333;

        &__name {
            &::after {
                content: "：";
            }

            margin-right: 5px;
        }
    }
}