<div class="ul-title-bar"> 默认排列 </div>
<div class="ul-descriptions-info">
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">柜台价</div>
        <div class="ul-descriptions-info__value">16元</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">适用年龄</div>
        <div class="ul-descriptions-info__value">1-12岁</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">生产年份</div>
        <div class="ul-descriptions-info__value">2023年</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">尺寸</div>
        <div class="ul-descriptions-info__value">宽23cm 高 18cm</div>
    </div>
    <div class="ul-descriptions-info__item block">
        <div class="ul-descriptions-info__name">详细地址</div>
        <div class="ul-descriptions-info__value">这是一个非常非常非常非常非常非常非常非常非常非常非常长的地址，它需要独占一行来显示。</div>
    </div>
</div>
<div class="ul-title-bar"> 上下排列 </div>
<div class="ul-descriptions-info vertical">
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">柜台价</div>
        <div class="ul-descriptions-info__value">16元</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">适用年龄</div>
        <div class="ul-descriptions-info__value">1-12岁</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">生产年份</div>
        <div class="ul-descriptions-info__value">2023年</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__name">尺寸</div>
        <div class="ul-descriptions-info__value">宽23cm 高 18cm</div>
    </div>
    <div class="ul-descriptions-info__item block">
        <div class="ul-descriptions-info__name">详细地址</div>
        <div class="ul-descriptions-info__value">这是一个非常非常非常非常非常非常非常非常非常非常非常长的地址，它需要独占一行来显示。</div>
    </div>
</div>