<div class="ul-descriptions-info">
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__item__name">柜台价</div>
        <div class="ul-descriptions-info__item__value">16元</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__item__name">适用年龄</div>
        <div class="ul-descriptions-info__item__value">1-12岁</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__item__name">生产年份</div>
        <div class="ul-descriptions-info__item__value">2023年</div>
    </div>
    <div class="ul-descriptions-info__item">
        <div class="ul-descriptions-info__item__name">尺寸</div>
        <div class="ul-descriptions-info__item__value">宽23cm 高 18cm</div>
    </div>
</div>