.ul-descriptions {

    display:flex;
    flex-wrap: wrap;


    .item {
        display : inline-flex;
        width   : 30%;
        position: relative;
        height  : 40px;

        

        .label {

            width   : calc(40% - 12px);
            padding : 12px 6px;
            position: absolute;

        }

        .value {
            position       : absolute;
            width          : 60%;
            margin-left    : 40%;
            display        : flex;
            align-items    : center;
            justify-content: left;
            
            height         : 100%
        }
    }
}