<div class="ul-ad-list">
    <div class="ul-ad-item" data-repeat="3">
        <div class="ul-ad-item__left">
            <div class="ul-ad-item__img ul-demo-banner"></div>
        </div>
        <div class="ul-ad-item__right">
            <div class="ul-ad-item__title">广告标题</div>
            <div class="ul-ad-item__desc">这是一段广告描述，可以替换为具体内容。</div>
            <div class="ul-ad-item__options">
                <div class="ul-btn ul-btn-primary  plain">查看详情</div>
            </div>
        </div>
    </div>
</div>