.ul-ad-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.ul-ad-item {
    box-shadow: $shadow-base;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    &__left {
        width: 72%;
        height: 170px;

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-bottom: $space-md;
        }
    }


    &__img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    &__right {
        width: 25%;

        @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        color: $color-main-base;
    }

    &__desc {
        font-size: 14px;
        color: $color-text-secondary;
        margin: 26px 0;
        line-height: 24px;

        @include media-breakpoint-down(md) {
            margin: $space-md 0;
        }
    }

    &__options {}
}