.ul-ad-list {}

.ul-ad-item {
    box-shadow: 1px 1px 8px #666;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
}

.ul-ad-left {
    width: 72%;
    height: 170px;
}

.ul-ad-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.ul-ad-right {
    width: 25%;
}

.ul-ad-title {
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    color: #e4393c;

}

.ul-ad-desc {
    font-size: 14px;
    color: #666666;
    margin: 26px 0;
    line-height: 24px;
}