<div class="ul-element-fixed-option">
    <div class="item">
        <div class="icon">
            <i class="layui-icon layui-icon-login-wechat" style="font-size: 30px;color: rgb(7,193,96);"></i>
        </div>
        <div class="title">
            返回小程序
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <i class="layui-icon layui-icon-website" style="font-size: 30px;color: #1e9fff;"></i>
        </div>
        <div class="title">
            打开网站
        </div>
    </div>

</div>