<div class="ul-btn-group">
    <button class="ul-btn ">默认按钮</button>
    <button class="ul-btn ">默认按钮</button>
    <button class="ul-btn ul-btn-success ">默认按钮</button>
</div>
<div class="ul-btn-group">
    <button class="ul-btn ul-btn-success plain ">默认按钮</button>
    <button class="ul-btn ul-btn-success ">默认按钮</button>
    <button class="ul-btn ul-btn-success plain ">默认按钮</button>
</div>
<div class="ul-btn-group">
    <button class="ul-btn ul-btn-danger ul-btn-mini ">默认按钮</button>
    <button class="ul-btn ul-btn-primary ul-btn-mini ">默认按钮</button>
    <button class="ul-btn  ul-btn-danger ul-btn-mini ">默认按钮</button>
</div>