<div class="ul-section">
    <div class="ul-nav-header">
        <div class="ul-nav-header-main">

            <div class="ul-nav-header-left">
                <img
                    style="height: 60px"
                    src="{$site_logo_src}"
                    alt=""
                >
            </div>
            <div class="ul-nav-header-right">
                <div class="ul-nav-header-item">
                    首页
                </div>
                <div class="ul-nav-header-item">
                    活动中心
                </div>
                <div class="ul-nav-header-item">
                    咨询
                </div>
                <div class="ul-nav-header-item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-header ul-nav-header-red">
        <div class="ul-nav-header-main">

            <div class="ul-nav-header-left">
                <img
                    style="height: 60px"
                    src="{$site_logo_src}"
                    alt=""
                >
            </div>
            <div class="ul-nav-header-right">
                <div class="ul-nav-header-item">
                    首页
                </div>
                <div class="ul-nav-header-item">
                    活动中心
                </div>
                <div class="ul-nav-header-item">
                    咨询
                </div>
                <div class="ul-nav-header-item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-header ul-nav-header-primary">
        <div class="ul-nav-header-main">

            <div class="ul-nav-header-left">
                <img
                    style="height: 80px"
                    src="{$site_logo_src}"
                    alt=""
                >
            </div>
            <div class="ul-nav-header-right">
                <div class="ul-nav-header-item">
                    首页
                </div>
                <div class="ul-nav-header-item">
                    活动中心
                </div>
                <div class="ul-nav-header-item">
                    咨询
                </div>
                <div class="ul-nav-header-item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>