<div class="ul-section">
    <div class="ul-nav-header">
        <div class="ul-nav-header__main">
            <div class="ul-nav-header__logo ul-demo-icon">
            </div>
            <div class="ul-nav-header__nav">
                <div class="ul-nav-header__item">
                    首页
                </div>
                <div class="ul-nav-header__item">
                    活动中心
                </div>
                <div class="ul-nav-header__item">
                    咨询
                </div>
                <div class="ul-nav-header__item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-header danger">
        <div class="ul-nav-header__main">
            <div class="ul-nav-header__logo ul-demo-icon">
            </div>
            <div class="ul-nav-header__nav">
                <div class="ul-nav-header__item">
                    首页
                </div>
                <div class="ul-nav-header__item">
                    活动中心
                </div>
                <div class="ul-nav-header__item">
                    咨询
                </div>
                <div class="ul-nav-header__item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ul-section">
    <div class="ul-nav-header primary">
        <div class="ul-nav-header__main">
            <div class="ul-nav-header__logo ul-demo-icon">
            </div>
            <div class="ul-nav-header__nav">
                <div class="ul-nav-header__item">
                    首页
                </div>
                <div class="ul-nav-header__item">
                    活动中心
                </div>
                <div class="ul-nav-header__item">
                    咨询
                </div>
                <div class="ul-nav-header__item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 所有主题色变体示例 -->
<div class="ul-section">
    <div class="ul-nav-header success">
        <div class="ul-nav-header__main">
            <div class="ul-nav-header__logo ul-demo-icon">
            </div>
            <div class="ul-nav-header__nav">
                <div class="ul-nav-header__item">
                    首页
                </div>
                <div class="ul-nav-header__item">
                    活动中心
                </div>
                <div class="ul-nav-header__item">
                    咨询
                </div>
                <div class="ul-nav-header__item">
                    帮助指南
                </div>
            </div>
        </div>
    </div>
</div>
