
{volist name='size_list' id='vo'}
<div class="ul-group-title" style="margin-bottom: 0;">ul-padding-{$vo} ul-margin-{$vo}</div>
<div class="ul-padding-{$vo} ul-margin-{$vo} ul-bg-gray"></div>
{/volist}
<hr>
<div class="ul-group-title" style="margin-bottom: 0;">ul-section</div>
<div class="ul-section ul-bg-gray ul-padding-xl" data-repeat="3"></div>
<hr>
<div class="ul-group-title" style="margin-bottom: 0;">ul-inline-block</div>
<div class="ul-inline-block ul-margin-xs ul-bg-gray ul-padding-xl" data-repeat="20"></div>
<hr>
<div class="ul-group-title" style="margin-bottom: 0;">ul-margin-container</div>
<div class="ul-margin-container-xs">
    <div class="ul-inline-block ul-margin-xs ul-bg-gray ul-padding-xl" data-repeat="20"></div>
</div>