<div class="ul-shop-header">
    <div class="ul-shop-header__main">
        <div class="ul-shop-header__logo ul-demo-img-bg">

        </div>
        <div class="ul-shop-header__info">
            <div class="ul-shop-header__info__name">
                临沂奥宏智能家居
            </div>
            <div class="ul-shop-header__info__tag">
                <div class="ul-shop-header__info__tag__item">
                    人均200
                </div>
                <div class="ul-shop-header__info__tag__item">
                    <i class="ul-shop-header__info__tag__item__icon ul-color-main layui-icon layui-icon-service"></i> 客服
                </div>
                <div class="ul-shop-header__info__tag__item">
                    <i class="ul-shop-header__info__tag__item__icon ul-color-main layui-icon layui-icon-wifi"></i> wifi
                </div>
            </div>
        </div>
        <div class="ul-shop-header__right">
            <i class="layui-icon layui-icon-right"></i>
        </div>
    </div>
    <div class="ul-shop-header__footer">
        <div class="ul-shop-header__footer__item">
            <i class="ul-shop-header__footer__item__icon layui-icon layui-icon-home"></i> 山东省临沂市应用科学城
        </div>
        <div class="ul-shop-header__footer__item">
            <i class="ul-shop-header__footer__item__icon layui-icon layui-icon-release"></i>位置
        </div>
        <div class="ul-shop-header__footer__item">
            <i class="ul-shop-header__footer__item__icon layui-icon layui-icon-cellphone"></i>电话
        </div>
    </div>
</div>