<div class="ul-shop-header">
    <div class="ul-shop-header__main">
        <div class="ul-shop-header__logo ul-demo-view">

        </div>
        <div class="ul-shop-header__info">
            <div class="ul-shop-header__name">
                临沂奥宏智能家居
            </div>
            <div class="ul-shop-header__tags">
                <div class="ul-shop-header__tag">
                    人均200
                </div>
                <div class="ul-shop-header__tag">
                    <i class="ul-shop-header__tag-icon ul-color-main fa fa-headset"></i> 客服
                </div>
                <div class="ul-shop-header__tag">
                    <i class="ul-shop-header__tag-icon ul-color-main fa fa-wifi"></i> wifi
                </div>
            </div>
        </div>
        <div class="ul-shop-header__arrow">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="ul-shop-header__footer">
        <div class="ul-shop-header__footer-item">
            <i class="ul-shop-header__footer-icon fa fa-map-marker-alt"></i> 山东省临沂市应用科学城
        </div>
        <div class="ul-shop-header__footer-item">
            <i class="ul-shop-header__footer-icon fa fa-location-arrow"></i>位置
        </div>
        <div class="ul-shop-header__footer-item">
            <i class="ul-shop-header__footer-icon fa fa-phone"></i>电话
        </div>
    </div>
</div>