<div class="ul-doc-tree">
    <div class="ul-doc-tree__item page level-0">
        文章标题
    </div>
    <div class="ul-doc-tree__item page level-0">
        文章标题
    </div>
    <div class="ul-doc-tree__item group level-0">
        文章分组
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item group level-0">
        文章分组
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
</div>
<div class="ul-doc-tree dark">
    <div class="ul-doc-tree__item page level-0">
        文章标题
    </div>
    <div class="ul-doc-tree__item page level-0">
        文章标题
    </div>
    <div class="ul-doc-tree__item group level-0">
        文章分组
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item group level-0">
        文章分组
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item page level-1">
        二级文章标题
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
    <div class="ul-doc-tree__item point level-2">
        文章内部锚点
    </div>
</div>
