<div class="ul-bg-black">

    <div class="ul-doc-info-page">
        <div class="ul-doc-info-page-list">
            <div class="ul-doc-info-page-item page level-0">
                文章标题
            </div>
            <div class="ul-doc-info-page-item page level-0">
                文章标题
            </div>
            <div class="ul-doc-info-page-item group level-0">
                文章分组
            </div>
            <div class="ul-doc-info-page-item page level-1">
                二级文章标题
            </div>
            <div class="ul-doc-info-page-item page level-1">
                二级文章标题
            </div>
            <div class="ul-doc-info-page-item point level-2">
                文章内部锚点
            </div>
            <div class="ul-doc-info-page-item point level-2">
                文章内部锚点
            </div>
            <div class="ul-doc-info-page-item group level-0">
                文章分组
            </div>
            <div class="ul-doc-info-page-item page level-1">
                二级文章标题
            </div>
            <div class="ul-doc-info-page-item page level-1">
                二级文章标题
            </div>
            <div class="ul-doc-info-page-item point level-2">
                文章内部锚点
            </div>
            <div class="ul-doc-info-page-item point level-2">
                文章内部锚点
            </div>
        </div>
    </div>
</div>