<div class="ul-flex ul-flex-wrap">
    <div
        class="ul-card-simple-icon"
        data-repeat="3"
    >
        <div class="ul-card-simple-icon__image ul-demo-icon">
        </div>
        <div class="ul-card-simple-icon__title">
            默认状态
        </div>
    </div>

    <div class="ul-card-simple-icon selected">
        <div class="ul-card-simple-icon__image ul-demo-icon">
        </div>
        <div class="ul-card-simple-icon__title">
            选中状态
        </div>
    </div>

    <div class="ul-card-simple-icon active">
        <div class="ul-card-simple-icon__image ul-demo-icon">
        </div>
        <div class="ul-card-simple-icon__title">
            激活状态
        </div>
    </div>

    <div class="ul-card-simple-icon disabled">
        <div class="ul-card-simple-icon__image ul-demo-icon">
        </div>
        <div class="ul-card-simple-icon__title">
            禁用状态
        </div>
    </div>
</div>