<div class="ul-form-space-between">
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            用户名
        </div>
        <div class="ul-form-space-between__control">
            <input type="text" class="ul-input" placeholder="请输入用户名" value="奥宏科技">
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            绑定手机
        </div>
        <div class="ul-form-space-between__control">
            138****8888
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            账户余额
        </div>
        <div class="ul-form-space-between__control">
            ￥1024.00
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            收货地址
        </div>
        <div class="ul-form-space-between__control">
            去设置
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            实名认证
        </div>
        <div class="ul-form-space-between__control">
            未认证
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            我的订单
        </div>
        <div class="ul-form-space-between__control">
            查看全部订单
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            性别
        </div>
        <div class="ul-form-space-between__control">
            <label class="ul-radio" style="vertical-align: middle;">
                <input type="radio" name="sex" checked>
                <span class="ul-radio__indicator"></span>
                <span class="ul-radio__label">男</span>
            </label>
            <label class="ul-radio" style="vertical-align: middle;">
                <input type="radio" name="sex">
                <span class="ul-radio__indicator"></span>
                <span class="ul-radio__label">女</span>
            </label>
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            城市
        </div>
        <div class="ul-form-space-between__control">
            <select class="ul-select" style="width: auto;">
                <option>请选择</option>
                <option selected>广州</option>
                <option>深圳</option>
            </select>
        </div>
    </div>
    <div class="ul-form-space-between__item">
        <div class="ul-form-space-between__label">
            兴趣爱好
        </div>
        <div class="ul-form-space-between__control">
            <label class="ul-checkbox" style="vertical-align: middle;">
                <input type="checkbox" name="hobby" checked>
                <span class="ul-checkbox__indicator"></span>
                <span class="ul-checkbox__label">写作</span>
            </label>
            <label class="ul-checkbox" style="vertical-align: middle;">
                <input type="checkbox" name="hobby">
                <span class="ul-checkbox__indicator"></span>
                <span class="ul-checkbox__label">编码</span>
            </label>
        </div>
    </div>
</div>