<div
    class="ul-card-bank"
    data-repeat="3"
>
    <div class="ul-common-flex-sb ul-card-bank-header">
        <div class="ul-card-bank-title">
            中国银行
        </div>
        <div class="ul-card-bank-number">
            尾号 ********123456
        </div>
    </div>
    <div class="ul-common-flex-sb ul-card-bank-body">
        <div class="ul-card-bank-line">
            <div class="ul-card-bank-line-triangle"></div>
        </div>
        <div class="ul-card-bank-tips">
            默认
        </div>
    </div>
    <div class="ul-common-flex-sb ul-card-bank-footer">
        <div class="ul-card-bank-time">
            绑定日期:2021-03-15
        </div>
        <div class="ul-card-bank-name">
            **宏
        </div>
    </div>
</div>