<div class="ul-card-qrcode">
    <div class="ul-card-qrcode__main">
        <div class="header">
            <div class="ul-avatar-sidebar-list" >
                <div class="ul-avatar-sidebar-list-item" >
                    <div class="ul-avatar-sidebar-list-item-img"></div>
                    <div class="ul-avatar-sidebar-list-item-info">
                        <div class="ul-avatar-sidebar-list-item-title">张三</div>
                        <div class="ul-avatar-sidebar-list-item-intro">法外狂徒不寂寞</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="ul-card-qrcode__point-left"></div>
            <div class="ul-card-qrcode__point-right"></div>
            <div class="ul-card-qrcode__line"></div>
    
            <div class="main">
                <img class="img" src="/static/images/qrcode.jpg" alt="">
            </div>
        </div>
    </div>

</div>