<div class="ul-flex ul-flex-wrap">
    <!-- 基础样式 -->
    <div class="ul-card-qrcode">
        <div class="ul-card-qrcode__main">
            <div class="ul-card-qrcode__header">
                <div class="ul-avatar-sidebar-list">
                    <div class="ul-avatar-sidebar-item">
                        <div class="ul-avatar-sidebar-item__img ul-demo-avatar"></div>
                        <div class="ul-avatar-sidebar-item__info">
                            <div class="ul-avatar-sidebar-item__title">用户名称</div>
                            <div class="ul-avatar-sidebar-item__intro">这里是用户的简介信息...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ul-card-qrcode__body">
                <div class="ul-card-qrcode__point-left"></div>
                <div class="ul-card-qrcode__point-right"></div>
                <div class="ul-card-qrcode__line"></div>
        
                <div class="ul-card-qrcode__content">
                    <img class="ul-card-qrcode__img" src="/static/images/qrcode.jpg" alt="qrcode">
                    <div class="ul-card-qrcode__desc">扫码关注我们</div>
                </div>
            </div>
        </div>
    </div>

    <!-- primary 状态 -->
    <div class="ul-card-qrcode primary">
        <div class="ul-card-qrcode__main">
            <div class="ul-card-qrcode__header">
                <div class="ul-avatar-sidebar-list">
                    <div class="ul-avatar-sidebar-item">
                        <div class="ul-avatar-sidebar-item__img ul-demo-avatar"></div>
                        <div class="ul-avatar-sidebar-item__info">
                            <div class="ul-avatar-sidebar-item__title">用户名称</div>
                            <div class="ul-avatar-sidebar-item__intro">这里是用户的简介信息...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ul-card-qrcode__body">
                <div class="ul-card-qrcode__point-left"></div>
                <div class="ul-card-qrcode__point-right"></div>
                <div class="ul-card-qrcode__line"></div>
        
                <div class="ul-card-qrcode__content">
                    <img class="ul-card-qrcode__img" src="/static/images/qrcode.jpg" alt="qrcode">
                    <div class="ul-card-qrcode__desc">扫码有惊喜</div>
                </div>
            </div>
        </div>
    </div>
</div>