<div class="ul-btn-container">
    <button class="ul-btn ">默认按钮</button>
    <button class="ul-btn ul-btn-primary ">默认按钮</button>
    <button class="ul-btn ul-btn-success ">默认按钮</button>
    <button class="ul-btn ul-btn-danger ">默认按钮</button>
    <button class="ul-btn ul-btn-warning ">默认按钮</button>
    <button class="ul-btn ul-btn-info ">默认按钮</button>
    <button class="ul-btn ">默认按钮</button>
    <button class="ul-btn ul-btn-primary ">默认按钮</button>
    <button class="ul-btn ul-btn-success ">默认按钮</button>
    <button class="ul-btn ul-btn-danger ">默认按钮</button>
    <button class="ul-btn ul-btn-warning ">默认按钮</button>
    <button class="ul-btn ul-btn-info ">默认按钮</button>
</div>