.ul-note-list {

}

.ul-note-item {
    display: flex;
    padding: $space-md;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: background-color .3s;

    &:hover {
        background-color: $color-light-hover;
    }

    &.current {
        background-color: $color-main-light;
        border-left-color: $color-primary-base;
    }

    &__icon {
        margin-right: $space-md;
        font-size: $font-size-lg;
        color: $color-text-placeholder;
        display: flex;
        align-items: center;
    }

    &__info {
        flex: 1;
        min-width: 0;
    }

    &__title {
        font-size: $font-size-base;
        color: $color-text;
        margin-bottom: $space-xs;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__desc {
        font-size: $font-size-sm;
        color: $color-text-secondary;
        margin-bottom: $space-xs;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__time {
        font-size: $font-size-sm;
        color: $color-text-placeholder;
    }
}