.ul-note-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    padding: 15px;
}

.ul-note-item.current,
.ul-note-item:hover {
    background-color: #dedede;
}

.ul-note-item .ul-note-item-icon {
    margin-right: 10px;
}

.ul-note-item .ul-note-item-desc {
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    word-break: break-all;
}

.ul-note-item .ul-note-item-time {
    color: #bbb;
    font-size: 12px;
    margin-top: 5px;
}

.ul-note-item .ul-note-item-tree {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}