<div class="ul-note-list">
    <div class="ul-note-item current">
        <div class="ul-note-item-icon">
            <i class="layui-icon layui-icon-read"></i>
        </div>
        <div class="ul-note-item-info">
            <div class="ul-note-item-title">未命名的笔记</div>
            <div class="ul-note-item-desc">未命名的笔记未命名的笔记未命名的笔记</div>
            <div class="ul-note-item-time">2021-04-11</div>
            <div class="ul-note-item-tree">
                ddd
            </div>

        </div>
    </div>
    <div class="ul-note-item">
        <div class="ul-note-item-icon">
            <i class="layui-icon layui-icon-read"></i>
        </div>
        <div class="ul-note-item-info">
            <div class="ul-note-item-title">未命名的笔记</div>
            <div class="ul-note-item-desc">未命名的笔记未命名的笔记未命名的笔记</div>
            <div class="ul-note-item-time">2021-04-11</div>
            <div class="ul-note-item-tree">
                ddd
            </div>

        </div>
    </div>


</div>