<div class="ul-note-list">
    <div class="ul-note-item" data-repeat="2">
        <div class="ul-note-item__icon">
            <i class="layui-icon layui-icon-read"></i>
        </div>
        <div class="ul-note-item__info">
            <div class="ul-note-item__title">未命名的笔记</div>
            <div class="ul-note-item__desc">未命名的笔记未命名的笔记未命名的笔记</div>
            <div class="ul-note-item__time">2021-04-11</div>
        </div>
    </div>
    <div class="ul-note-item active">
        <div class="ul-note-item__icon">
            <i class="layui-icon layui-icon-read"></i>
        </div>
        <div class="ul-note-item__info">
            <div class="ul-note-item__title">未命名的笔记</div>
            <div class="ul-note-item__desc">未命名的笔记未命名的笔记未命名的笔记</div>
            <div class="ul-note-item__time">2021-04-11</div>
        </div>
    </div>
</div>