<div class="ul-card-data-a ul-card-data" data-repeat="2">
    <div class="ul-card-data-a-title">
        509778.80
    </div>
    <div class="ul-card-data-a-options">
        <div class="ul-card-data-a-item">
            <i class="layui-icon layui-icon-gift"></i>
            余额
        </div>
        <div class="ul-card-data-a-item">
            <div class="layui-btn layui-btn-xs">充值</div>
            <div class="layui-btn layui-btn-xs">提现</div>
            <div class="layui-btn layui-btn-xs">记录</div>
        </div>
    </div>
</div>
<div class="ul-card-data-b ul-card-data" data-repeat="2">
    <div class="ul-card-data-b-main">

        <div class="ul-card-data-b-icon layui-icon layui-icon-gift">

        </div>
        <div class="ul-card-data-b-info">
            <div class="ul-card-data-b-title">
                盈亏总额(元)
            </div>
            <div class="ul-card-data-b-value">
                0.00
            </div>
        </div>
    </div>

</div>
<div class="ul-card-data-c ul-card-data">

    <div class="ul-card-data-c-item" data-repeat="3">
        <div class="ul-card-data-c-value">
            0
        </div>
        <div class="ul-card-data-c-title">
            余额
        </div>

    </div>
</div>