{volist name='[
"excel",
"zipper",
"word",
"pdf",
"powerpoint",
"audio",
"code",
"image",
"video",
"text",
]' id='file'}
<div class="ul-card-file {$file} ul-margin-xs">
    <div class="ul-card-file__main">
        <div class="ul-card-file__info">
            <div class="ul-card-file__name">
                核弹制作与发射 从入门到精通.{$file}
            </div>
            <div class="ul-card-file__desc">
                75GB
            </div>
        </div>
        <div class="ul-card-file__icon">
            <i class="fa fa-file-{$file} fa-fw"></i>
        </div>
    </div>
    <div class="ul-card-file__footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>
{/volist}

<div class="ul-card-file file ul-margin-xs">
    <div class="ul-card-file__main">
        <div class="ul-card-file__info">
            <div class="ul-card-file__name">
                未知文件类型
            </div>
            <div class="ul-card-file__desc">
                1.2MB
            </div>
        </div>
        <div class="ul-card-file__icon">
            <i class="fa-regular fa-file fa-fw"></i>
        </div>
    </div>
    <div class="ul-card-file__footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>

<div class="ul-card-file link ul-margin-xs">
    <div class="ul-card-file__main">
        <div class="ul-card-file__info">
            <div class="ul-card-file__name">
                这是一个外部链接
            </div>
            <div class="ul-card-file__desc">
                ului.design
            </div>
        </div>
        <div class="ul-card-file__icon">
            <i class="fa fa-link fa-fw"></i>
        </div>
    </div>
    <div class="ul-card-file__footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>

<div class="ul-card-file link ul-margin-xs">
    <div class="ul-card-file__main">
        <div class="ul-card-file__info">
            <div class="ul-card-file__name">
                这是一个图片图标
            </div>
            <div class="ul-card-file__desc">
                ului.design
            </div>
        </div>
        <div class="ul-card-file__icon ul-demo-icon">
            
        </div>
    </div>
    <div class="ul-card-file__footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>