{volist name='[
"excel",
"zipper",
"word",
"pdf",
"powerpoint",
"audio",
"code",
"image",
"video",
"text",
]' id='file'}
<div class="ul-card-file ul-inline-block">
    <div class="main">
        <div class="info">
            <div class="name">
                核弹制作与发射 从入门到精通
            </div>
            <div class="desc">
                75GB
            </div>
        </div>
        <div class="icon {$file}">
            <i class="fa fa-file-{$file}"></i>
        </div>
    </div>
    <div class="footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>
{/volist}
<div class="ul-card-file ul-inline-block">
    <div class="main">
        <div class="info">
            <div class="name">
                核弹制作与发射 从入门到精通
            </div>
            <div class="desc">
                75GB
            </div>
        </div>
        <div class="icon file">
            <i class="fa-regular fa-file"></i>
        </div>
    </div>
    <div class="footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>

<div class="ul-card-file ul-inline-block">
    <div class="main">
        <div class="info">
            <div class="name">
                核弹制作与发射 从入门到精通
            </div>
            <div class="desc">
                75GB
            </div>
        </div>
        <div class="icon link">
            <i class="fa fa-link"></i>
        </div>
    </div>
    <div class="footer">
        <span>来自ulthon邮箱</span>
        <span>2022年6月24日</span>
    </div>
</div>