<div class="ul-card-message">
    <div class="ul-card-message__header">
        <div class="ul-card-message__title">
            奥宏科技·预约会议
        </div>
        <div class="ul-card-message__status">
            技术人员
        </div>
    </div>
    <div class="ul-card-message__body">
        <div class="ul-card-message__item">
            <div class="ul-card-message__item-title">
                预约时间
            </div>
            <div class="ul-card-message__item-value">
                2022年4月4日14:29:12
            </div>
        </div>
        <div class="ul-card-message__item">
            <div class="ul-card-message__item-title">
                地点
            </div>
            <div class="ul-card-message__item-value">
                一楼会议室
            </div>
        </div>
        <div class="ul-card-message__item">
            <div class="ul-card-message__item-title">
                备注
            </div>
            <div class="ul-card-message__item-value">
                备注内容备注内容备注内容备注内容备注内容备注内容备注内容备注内容备注内容备注内容备注内容备注内容
            </div>
        </div>
    </div>
    <div class="ul-card-message__footer">
        <div class="ul-card-message__footer-left">
            更新于: 20分钟前
        </div>
        <div class="ul-card-message__footer-right">
            <div class="ul-btn ul-btn-sm ">取消</div>
            <div class="ul-btn ul-btn-sm ul-btn-primary">确认</div>
        </div>
    </div>
</div>