.ul-course-sidebar-list {
    .ul-course-sidebar-item:not(:last-child) {
        border-bottom: 1px dotted #e8e8e8;
    }
}


.ul-course-sidebar-item {
    display: flex;
    padding: $space-sm 0;
    align-items: center;

    &__poster-container {
        flex-shrink: 0;
    }

    &__poster {
        height: 50px;
        width: 80px;
        background-size: cover;
        background-position: center;
        border-radius: $radius-sm;
    }

    &__info {
        margin-left: $space-sm;
        min-width: 0;
    }

    &__title {
        line-height: 1.8;
        @include text-ellipsis;
    }

    &__options {
        margin-top: $space-xs;
    }

    &__option {
        display: inline-block;
        font-size: $font-size-sm;
        color: $color-text-secondary;

        & + & {
            margin-left: $space-sm;
        }
    }
}