<div class="ul-course-sidebar-list">
    <a class="ul-course-sidebar-item" data-repeat="4">
        <div class="ul-course-sidebar-item__poster-container">
            <div class="ul-course-sidebar-item__poster ul-demo-tech" ></div>
        </div>
        <div class="ul-course-sidebar-item__info">
            <div class="ul-course-sidebar-item__title">
                PHP8最新特性介绍和演示
            </div>
            <div class="ul-course-sidebar-item__options">
                <div class="ul-course-sidebar-item__option ul-color-main">
                    免费
                </div>
                <div class="ul-course-sidebar-item__option">
                    初级
                </div>
                <div class="ul-course-sidebar-item__option">
                    3节课
                </div>
            </div>
        </div>
    </a>
</div>