<div class="ul-course-sidebar-list">
    <a class="ul-course-sidebar-item" data-repeat="4">
        <div class="ul-course-sidebar-item-poster-container">
            <div class="ul-course-sidebar-item-poster" style="background-image: url('/static/images/view.jpg');">

            </div>
        </div>
        <div class="ul-course-sidebar-item-info">
            <div class="ul-course-sidebar-item-title">
                PHP8最新特性介绍和演示
            </div>
            <div class="ul-course-sidebar-item-options">
                <div class="ul-course-sidebar-item-option-item ul-color-main">
                    免费
                </div>
                <div class="ul-course-sidebar-item-option-item">
                    初级
                </div>
                <div class="ul-course-sidebar-item-option-item">
                    3节课
                </div>
            </div>
        </div>
    </a>
</div>