.ul-section{
  margin-bottom: $space-md;
}

.ul-padding-xs {
  padding: $space-xs !important;
}
.ul-padding-sm {
  padding: $space-sm !important;
}
.ul-padding-md {
  padding: $space-md !important;
}
.ul-padding-lg {
  padding: $space-lg !important;
}
.ul-padding-xl {
  padding: $space-xl !important;
}

.ul-margin-xs {
  margin: $space-xs !important;
}
.ul-margin-sm {
  margin: $space-sm !important;
}
.ul-margin-md {
  margin: $space-md !important;
}
.ul-margin-lg {
  margin: $space-lg !important;
}
.ul-margin-xl {
  margin: $space-xl !important;
}

// 背景色
.ul-bg-primary { background-color: $color-primary-base !important; color: $color-primary-text !important; }
.ul-bg-success { background-color: $color-success-base !important; color: $color-success-text !important; }
.ul-bg-danger { background-color: $color-danger-base !important; color: $color-danger-text !important; }
.ul-bg-warning { background-color: $color-warning-base !important; color: $color-warning-text !important; }
.ul-bg-info { background-color: $color-info-base !important; color: $color-info-text !important; }
.ul-bg-dark { background-color: $color-dark-base !important; color: $color-dark-text !important; }
.ul-bg-light { background-color: $color-light-base !important; color: $color-light-text !important; }
.ul-bg-white { background-color: $color-white !important; color: $color-text !important; }
.ul-bg-gray { background-color: $color-gray-base !important; color: $color-gray-text !important; }


// 文本颜色
.ul-text-primary { color: $color-primary-base !important; }
.ul-text-success { color: $color-success-base !important; }
.ul-text-danger { color: $color-danger-base !important; }
.ul-text-warning { color: $color-warning-base !important; }
.ul-text-info { color: $color-info-base !important; }
.ul-text-dark { color: $color-dark-base !important; }
.ul-text-light { color: $color-light-base !important; }
.ul-text-white { color: $color-white !important; }
.ul-text-black { color: $color-black !important; }
.ul-text-gray { color: $color-gray-base !important; }
.ul-text-secondary { color: $color-text-secondary !important; }


.ul-link {
  color: $color-primary-base !important;
  
  &:visited {
    color: $color-info-base !important;
  }
  
  &:hover {
    color: $color-primary-hover !important;
    text-decoration: underline !important;
  }
  
  &:active {
    color: $color-danger-base !important;
  }
}

.ul-fixed-right-center {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.ul-pure-iframe {
  width: 100%;
  border: none;
}

.ul-inline-block {
  display: inline-block !important;
}

// Demo: 动态加载不同类型的图片
$demo-img-types: view, avatar, icon, banner, tech;
$demo-img-count: 10; // 每种类型生成的图片数量

@each $type in $demo-img-types {
  .ul-demo-#{$type} {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;

    // 生成数字修饰符类，用于加载具体图片
    @for $i from 1 through $demo-img-count {
      &.n#{$i} {
        background-image: url('/cdn/img/#{$type}-n#{$i}.png') !important;
      }
    }
  }
}