.ul-section{
  margin-bottom: $space-md;
}

.ul-link {
  color: $color-primary-base !important;
  
  &:visited {
    color: $color-info-base !important;
  }
  
  &:hover {
    color: $color-primary-hover !important;
    text-decoration: underline !important;
  }
  
  &:active {
    color: $color-danger-base !important;
  }
}

.ul-fixed-right-center {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.ul-pure-iframe {
  width: 100%;
  border: none;
}