<div class="ul-descriptions-easy-item">
    <div class="ul-descriptions-easy-item__name">发货</div>
    <div class="ul-descriptions-easy-item__content">
        <span class="ul-descriptions-easy-item__text">山东临沂</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">免运费</span>
    </div>
</div>
<div class="ul-descriptions-easy-item">
    <div class="ul-descriptions-easy-item__name">保障</div>
    <div class="ul-descriptions-easy-item__content">
        <span class="ul-descriptions-easy-item__text">7天无理由退货</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">运费险</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">正品保障</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">假一赔十</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">72小时快速退换</span>
    </div>
</div>

<div class="ul-descriptions-easy-item vertical">
    <div class="ul-descriptions-easy-item__name">服务</div>
    <div class="ul-descriptions-easy-item__content">
        <span class="ul-descriptions-easy-item__text">24小时发货</span>
        <i class="ul-descriptions-easy-item__separator">|</i>
        <span class="ul-descriptions-easy-item__text">破损包退换</span>
    </div>
</div>