<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$model_post->title}-{:get_system_config('site_name')}</title>
  {include file='common/_require'/}
  <link rel="stylesheet" href="/static/lib/quill/quill.snow.css">

  <style>
    .ql-editor {
      padding: 15px 0;
    }
  </style>
</head>

<body>

  <div class="layui-container">
    <div class="layui-row ul-padding-md">
      <div style="font-size: 22px;">
        {:get_system_config('site_name')}
      </div>
      <div style="font-size: 18px;">
        {:get_system_config('site_desc')}
      </div>
    </div>
    <div class="layui-row layui-col-space6 " style="margin-top: 15px;">
      <div class="layui-col-md3 ul-border-right">
        <div class="ul-nav-tree ul-padding-md ">

          {volist name='list_post' id='category'}
          <div class="ul-nav-tree-group">
            <div class="ul-nav-tree-group-title">
              {$category.title}
            </div>
            <div class="ul-nav-tree-group-main">
              {volist name='category.post' id='post'}
              <a href="{:url('Index/index',['post_id'=>$post.id])}" class="ul-nav-tree-item {eq name='post.id' value='$Request.param.post_id'}current{/eq}">
                <div class="ul-nav-tree-item-title">
                  {$post.title}
                </div>
                <div class="ul-nav-tree-item-desc">
                  {$post.desc}
                </div>
              </a>
              {/volist}
            </div>
          </div>
          {/volist}

        </div>
      </div>
      <div class="layui-col-md9">
        <div class="main-content ul-padding-md">
          <div class="">
            <span class="layui-breadcrumb" lay-separator="/">
              <a href="{:url('Index/index')}">首页</a>
              <a><cite>{$model_post->title}</cite></a>
            </span>
          </div>
          <div class="ql-snow">
            <div class="ql-editor">{$model_post->content_html|raw}</div>
          </div>
          <div class="demo-page">
            {$model_post->demo_page|raw}
          </div>


        </div>
      </div>
    </div>
  </div>
  <script>
    function renderRepeat(elem) {
      $(elem).find('[data-repeat]').each(function () {
        for (let index = 1; index < $(this).data('repeat'); index++) {
          var clone = $(this).clone()
          clone.insertAfter(this)
          renderRepeat(clone)
        }
      })
    }
    renderRepeat('body')

    $('.demo-js-src').each(function () {
      var html = $(this).html();
      var htmlList = html.split(/[\n]/g);
      var htmlListNew = []
      var baseLineBlankNums = -1;
      htmlList.forEach(function (htmlLine, htmlIndex) {
        if (htmlIndex == 0 && htmlLine.length == 0) {
          return true
        }
        if (baseLineBlankNums < 0) {
          var kong = htmlLine.match(/^ */g) //筛选
          if (kong != null) {
            baseLineBlankNums = kong[0].length
          } else {
            baseLineBlankNums = 0
          }
        }

        htmlListNew.push(htmlLine.slice(baseLineBlankNums))
      });

      $(this).siblings('pre.demo-js').text(htmlListNew.join("\n"))
    })
    layui.form.render()
    layui.element.render()
    layui.code({
      encode: true
    })
    layui.util.fixbar()


  </script>
</body>

</html>