<div class="ul-form-basic">
    <div class="ul-form-basic__item">
        <label class="ul-form-basic__label">输入框</label>
        <div class="ul-form-basic__control">
            <input type="text" class="ul-input" placeholder="请输入内容">
        </div>
    </div>
    <div class="ul-form-basic__item">
        <label class="ul-form-basic__label">选择器</label>
        <div class="ul-form-basic__control">
            <select class="ul-select">
                <option>请选择</option>
                <option>选项一</option>
                <option>选项二</option>
            </select>
        </div>
    </div>
    <div class="ul-form-basic__item">
        <label class="ul-form-basic__label">复选框</label>
        <div class="ul-form-basic__control">
            <label class="ul-checkbox">
                <input type="checkbox" name="hobby" checked>
                <span class="ul-checkbox__indicator"></span>
                <span class="ul-checkbox__label">写作</span>
            </label>
            <label class="ul-checkbox">
                <input type="checkbox" name="hobby">
                <span class="ul-checkbox__indicator"></span>
                <span class="ul-checkbox__label">编码</span>
            </label>
        </div>
    </div>
    <div class="ul-form-basic__item">
        <label class="ul-form-basic__label">单选框</label>
        <div class="ul-form-basic__control">
            <label class="ul-radio">
                <input type="radio" name="sex" checked>
                <span class="ul-radio__indicator"></span>
                <span class="ul-radio__label">男</span>
            </label>
            <label class="ul-radio">
                <input type="radio" name="sex">
                <span class="ul-radio__indicator"></span>
                <span class="ul-radio__label">女</span>
            </label>
        </div>
    </div>
    <div class="ul-form-basic__item">
        <label class="ul-form-basic__label">文本域</label>
        <div class="ul-form-basic__control">
            <textarea class="ul-textarea" placeholder="请输入更多内容"></textarea>
        </div>
    </div>
    <div class="ul-form-basic__item">
        <div class="ul-form-basic__actions">
            <button type="button" class="ul-btn ul-btn-primary">立即提交</button>
            <button type="button" class="ul-btn">重置</button>
        </div>
    </div>
</div>