/* 简约风格Form */
.ul-form-basic {

    .layui-form-item {
        clear        : unset;
        margin-bottom: 6px;
    }

    .layui-form-label {
        float     : unset;
        width     : unset;
        text-align: left;
        padding   : 5px 0;
        font-size : 14px;
        color     : #000;
    }

    .layui-input-block {
        margin-left: unset;
        min-height : 30px;
    }

    .layui-input {
        padding: 10px 11px;
        height : unset;
    }

    .layui-form-mid {
        padding: 5px 0 !important
    }

    .layui-form-select dl {
        top: 28px;
    }

    .layui-form-select dl dd,
    .layui-form-select dl dt {
        height: 30px
    }

}