<div class="ul-section">
    <div class="ul-title">
        <div class="ul-title__main">
            精品酒店
        </div>
        <div class="ul-title__plus">
            Boutique Hotel
        </div>
        <div class="ul-title__line">

        </div>
    </div>
</div>
<div style="width:200px" class="ul-section">
    <div class="ul-title">
        <div class="ul-title__main">
            精品酒店
        </div>
        <div class="ul-title__plus">
            Boutique Hotel
        </div>
        <div class="ul-title__line">

        </div>
    </div>
</div>