<div class="ul-section">
    <div class="ul-title-decorated">
        <div class="ul-title-decorated__main">
            精品酒店
        </div>
        <div class="ul-title-decorated__plus">
            Boutique Hotel
        </div>
        <div class="ul-title-decorated__line">

        </div>
    </div>
</div>
<div style="width:200px" class="ul-section">
    <div class="ul-title-decorated">
        <div class="ul-title-decorated__main">
            精品酒店
        </div>
        <div class="ul-title-decorated__plus">
            Boutique Hotel
        </div>
        <div class="ul-title-decorated__line">

        </div>
    </div>
</div>