<div class="list-record">
    <div class="item-record" data-repeat="3">
        <div class="left">
            <div class="item-name">
                充值
            </div>
            <div class="item-desc">
                小程序端充值
            </div>
        </div>
        <div class="right">
            <div class="item-change">
                +1000
            </div>
            <div class="item-desc">
                2023年4月10日21:12:23
            </div>
        </div>

    </div>
    <div class="item-record">
        <div class="left">
            <div class="item-name">
                消费
            </div>
            <div class="item-desc">
                商城消费
            </div>
        </div>
        <div class="right">
            <div class="item-change status-2">
                -1000
            </div>
            <div class="item-desc">
                2023年4月10日21:12:23
            </div>
        </div>

    </div>
</div>