
.ul-nav-min {
    box-shadow: 2px 2px 5px #999;
    padding   : 5px;
    text-align: center;
}

.ul-nav-min .ul-nav-min-item {
    padding: 5px 0;
    cursor : pointer;
    color  : #333;
    display: block;
}

.ul-nav-min-item:hover {
    color: #6cf;
}
