.ul-post-block-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: $space-lg;
    align-items: start; // 默认情况下，项目高度自适应

    // 固定高度模式
    &.fixed-height {
        align-items: stretch; // 拉伸项目以填充网格区域
        .ul-post-block-item {
            display: flex;
            flex-direction: column;
            &__desc {
                flex-grow: 1; // 描述区域填充剩余空间
            }
        }
    }

}

.ul-post-block-item {
    background-color: $color-white;
    border-radius: $radius-md;
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    transition: all .3s;

    &:hover {
        box-shadow: $box-shadow-lg;
        transform: translateY(-4px);
    }

    &__poster {
        width: 100%;
        padding-top: 56.25%; // 16:9 aspect ratio
        background-size: cover;
        background-position: center;
        background-color: $color-main-light;
    }

    &__title {
        font-size: $font-size-lg;
        color: $color-text;
        font-weight: bold;
        padding: $space-md $space-md 0;
        @include text-ellipsis;
      }
      
      &__desc {
        font-size: $font-size-base;
        color: $color-text-secondary;
        margin: $space-sm $space-md $space-md;
        line-height: 1.6;
        @include text-ellipsis(3);
    }
}