<div class="ul-group-title">
    修复统一高度
</div>
<div class="ul-post-block-list">
    <div class="ul-post-block-item" data-repeat="4">
        <div class="poster ul-demo-img-bg">

        </div>
        <div class="title">
            PHP基金会年预算已达300万元
        </div>
        <div class="desc">
            PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.
        </div>
    </div>
    <div class="ul-post-block-item">
        <div class="poster ul-demo-img-bg">

        </div>
        <div class="title">
            PHP基金会年预算已达300万元
        </div>
        <div class="desc">
            PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.
        </div>
    </div>
</div>
<div class="ul-group-title">
    固定块高度
</div>
<div class="ul-post-block-list fixed-height">
    <div class="ul-post-block-item" data-repeat="4">
        <div class="poster ul-demo-img-bg">

        </div>
        <div class="title">
            PHP基金会年预算已达300万元
        </div>
        <div class="desc">
            PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.
        </div>
    </div>
    <div class="ul-post-block-item">
        <div class="poster ul-demo-img-bg">

        </div>
        <div class="title">
            PHP基金会年预算已达300万元
        </div>
        <div class="desc">
            PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.PHP基金会在2021年11月23日上线运营,目前已经$411,184.29,换算人民币260万元,年度预算达到$488,021.00,算换人民币300万元.
        </div>
    </div>
</div>