<div class="ul-card-avatar-info">
    <div class="main">
        <div class="main-title">
            <div class="item">
                张三
            </div>
            <span class="item layui-badge layui-bg-orange">A类</span>
        </div>
        <div class="item-title">
            <i class="item layui-icon layui-icon-cellphone"></i>
            <div class="item">
                13012341234
            </div>
        </div>
        <div class="item-title">
            <i class="item layui-icon layui-icon-location"></i>
            <div class="item">
                山东省临沂市兰山区xxx街道xxx小区
            </div>
        </div>
        <div class="item-title">
            <i class="item layui-icon layui-icon-login-wechat"></i>
            <div class="item">
                13012341234
            </div>
        </div>
        <div class="footer-title">
            <div class="item">
                创建者：奥古斯宏
            </div>
            <div class="item">
                创建时间：2023年5月20日16:24:17
            </div>
        </div>
        <div class="fixed-container">
            <div class="ul-demo-img-bg circle" style="width: 48px;height: 48px;"></div>
        </div>
    </div>
</div>