<div class="ul-avatar-list ul-section">
    <div class="ul-avatar-item">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">张三</div>
            <div class="ul-avatar-item__tips">深山旅馆电话事件的最新消息</div>
            <div class="ul-avatar-item__time">19:54</div>
        </div>
    </div>
    <div class="ul-avatar-item active">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">李四</div>
            <div class="ul-avatar-item__tips">UI 设计规范与组件库实践</div>
            <div class="ul-avatar-item__time">18:30</div>
        </div>
    </div>
    <div class="ul-avatar-item">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">王五</div>
            <div class="ul-avatar-item__tips">关于 SCSS 变量的讨论</div>
            <div class="ul-avatar-item__time">昨天</div>
        </div>
    </div>
</div>
<div class="ul-avatar-list ul-section" style="width: 400px;">
    <div class="ul-avatar-item">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">
                张三
            </div>
            <div class="ul-avatar-item__tips">
                深山旅馆电话事件的最新消息
            </div>
            <div class="ul-avatar-item__time">
                19:54
            </div>
        </div>
    </div>
    <div class="ul-avatar-item">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">
                张三
            </div>
            <div class="ul-avatar-item__tips">
                深山旅馆电话事件的最新消息
            </div>
            <div class="ul-avatar-item__time">
                19:54
            </div>
        </div>
    </div>
</div>
<div class="ul-avatar-list ul-section" style="width: 200px;">
    <div class="ul-avatar-item active">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">
                张三
            </div>
            <div class="ul-avatar-item__tips">
                深山旅馆电话事件的最新消息
            </div>
            <div class="ul-avatar-item__time">
                19:54
            </div>
        </div>
    </div>
    <div class="ul-avatar-item">
        <div class="ul-avatar-item__avatar ul-demo-avatar"></div>
        <div class="ul-avatar-item__info">
            <div class="ul-avatar-item__title">
                张三
            </div>
            <div class="ul-avatar-item__tips">
                深山旅馆电话事件的最新消息
            </div>
            <div class="ul-avatar-item__time">
                19:54
            </div>
        </div>
    </div>
</div>