.ul-avatar-item {
    display: flex;
    align-items: center;
    padding: $space-sm;
    background-color: $color-light-light;
    border-radius: $border-radius-base;
    cursor: pointer;
    transition: background-color .3s;

    
    &:hover {
        background-color: $color-light-hover;
    }

    &.current {
        background-color: $color-light-hover;
    }

    // 非第一个元素增加上边距
    & + & {
        margin-top: $border-radius-sm;
    }

    &__avatar {
        flex-shrink: 0;
        height: $space-xl * 1.5;
        width: $space-xl * 1.5;
        background-image: url("/static/images/avatar.png");
        background-size: cover;
        background-position: center;
        border-radius: $border-radius-sm;
        background-color: $color-white;
    }

    &__info {
        flex-grow: 1;
        margin-left: $space-md;
        position: relative;
        min-width: 0; // 防止内容撑开
    }

    &__title {
        font-size: $font-size-lg;
        color: $color-text;
    }

    &__time {
        position: absolute;
        right: 0;
        top: 0;
        font-size: $font-size-sm;
        color: $color-text-secondary;
    }

    &__tips {
        color: $color-text-secondary;
        font-size: $font-size-base;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: $space-xl + $space-sm; // 减去时间区域的宽度，防止重叠
    }
}