<div class="layui-card ul-card">
    <div class="layui-card-header">
        <span class="ul-card-status layui-bg-green">意向</span>
        <span class="ul-card-title">卡片面板</span>
        <span class="ul-card-options">
            <span>2021年3月29日</span>
            <span class=""><i class="layui-icon layui-icon-right"></i></span>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="data-item">
            <span class="data-title">入库时间:</span>
            <span class="data-value">2021年3月29日16:33:21</span>
        </div>
        <div class="data-item">
            <span class="data-title">用户名称:</span>
            <span class="data-value">奥古斯宏</span>
        </div>
        <div class="data-item">
            <span class="data-title">公司名称:</span>
            <span class="data-value">临沂奥宏网络科技有限公司</span>
        </div>
        <div class="data-item">
            <span class="data-title">电话:</span>
            <span class="data-value">13012341234</span>
        </div>
        <div class="data-item">
            <span class="data-title">相册:</span>
            <span class="data-img">
                <img
                    class="data-img-main"
                    src="/static/images/view.jpg"
                    alt=""
                >
                <img
                    class="data-img-main"
                    src="/static/images/view.jpg"
                    alt=""
                >
                <img
                    class="data-img-main"
                    src="/static/images/view.jpg"
                    alt=""
                >
            </span>
        </div>
    </div>
</div>