<h3>基础栅格</h3>
<p>使用 <code>.ul-col-*</code> 创建基础的等比栅格布局（总共 12 列）。</p>
<div class="ul-row">
    <div class="ul-col-12 demo-col ">
        <div class="demo-col-main ">ul-col-12</div>
    </div>
</div>
<div class="ul-row">
    <div class="ul-col-6 demo-col ">
        <div class="demo-col-main ">ul-col-6</div>
    </div>
    <div class="ul-col-6 demo-col ">
        <div class="demo-col-main ">ul-col-6</div>
    </div>
</div>
<div class="ul-row">
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
</div>
<div class="ul-row">
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
</div>

<h3>响应式栅格</h3>
<p>使用 <code>.ul-col-{breakpoint}-*</code> 在不同屏幕尺寸下应用不同的栅格布局。</p>
<div class="ul-row">
    <div class="ul-col-xs-12 ul-col-sm-6 ul-col-md-4 ul-col-lg-3 demo-col ">
        <div class="demo-col-main ">响应式列</div>
    </div>
    <div class="ul-col-xs-12 ul-col-sm-6 ul-col-md-4 ul-col-lg-3 demo-col ">
        <div class="demo-col-main ">响应式列</div>
    </div>
    <div class="ul-col-xs-12 ul-col-sm-6 ul-col-md-4 ul-col-lg-6 demo-col ">
        <div class="demo-col-main ">响应式列</div>
    </div>
</div>

<h3>列偏移</h3>
<p>使用 <code>.ul-col-offset-{breakpoint}-*</code> 将列向右偏移。</p>
<div class="ul-row">
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
    <div class="ul-col-4 ul-col-offset-md-4 demo-col ">
        <div class="demo-col-main ">ul-col-4 ul-col-offset-md-4</div>
    </div>
</div>
<div class="ul-row">
    <div class="ul-col-3 ul-col-offset-md-3 demo-col ">
        <div class="demo-col-main ">ul-col-3 ul-col-offset-md-3</div>
    </div>
    <div class="ul-col-3 ul-col-offset-md-3 demo-col ">
        <div class="demo-col-main ">ul-col-3 ul-col-offset-md-3</div>
    </div>
</div>

<h3>列间距</h3>
<p>在 <code>.ul-row</code> 上添加 <code>.ul-col-space-*</code> 来控制列之间的间距。</p>
<div class="ul-row ul-col-space-16">
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
    <div class="ul-col-4 demo-col ">
        <div class="demo-col-main ">ul-col-4</div>
    </div>
</div>

<h3>Flex 布局</h3>
<p>使用 <code>.ul-justify-*</code> 控制主轴对齐方式。</p>
<div class="ul-row ul-justify-center">
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
    <div class="ul-col-3 demo-col ">
        <div class="demo-col-main ">ul-col-3</div>
    </div>
</div>