<div class="ul-flex ul-flex-column" style="gap: 16px;">
    <div class="ul-element-loading-bar primary" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Primary Loading
    </div>
    <div class="ul-element-loading-bar success" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Success Loading
    </div>
    <div class="ul-element-loading-bar danger" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Danger Loading
    </div>
    <div class="ul-element-loading-bar warning" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Warning Loading
    </div>
    <div class="ul-element-loading-bar info" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Info Loading
    </div>
    <div class="ul-element-loading-bar dark" style="padding: 24px; border: 1px solid var(--ul-color-border); border-radius: 4px; background: var(--ul-color-white);">
        Dark Loading
    </div>
</div>