<div class="ul-padding-md">

    <div class="ul-link-select">
        <div class="ul-link-title">
            风格:
        </div>
        <div class="ul-link-list">
            <div class="ul-link-item current">
                全部
            </div>
            <div class="ul-link-item">
                国产
            </div>
            <div class="ul-link-item">
                欧美
            </div>
            <div class="ul-link-item">
                日韩
            </div>
        </div>
    </div>
</div>
<div class=" ul-padding-md ul-bg-white">

    <div class="ul-link-select ">
        <div class="ul-link-title">
            风格:
        </div>
        <div class="ul-link-list">
            <div class="ul-link-item layui-btn layui-btn-xs">
                全部
            </div>
            <div class="ul-link-item">
                国产
            </div>
            <div class="ul-link-item">
                欧美
            </div>
            <div class="ul-link-item">
                日韩
            </div>
        </div>
    </div>
</div>