<div class="ul-section">
    <div class="ul-link-select">
        <div class="ul-link-select__title">
            风格:
        </div>
        <div class="ul-link-select__list">
            <div class="ul-link-select__item active">
                全部
            </div>
            <div class="ul-link-select__item">
                国产
            </div>
            <div class="ul-link-select__item">
                欧美
            </div>
            <div class="ul-link-select__item">
                日韩
            </div>
        </div>
    </div>
</div>

<div class="ul-section ul-bg-white">
    <div class="ul-link-select button">
        <div class="ul-link-select__title">
            风格:
        </div>
        <div class="ul-link-select__list">
            <div class="ul-link-select__item active">
                全部
            </div>
            <div class="ul-link-select__item">
                国产
            </div>
            <div class="ul-link-select__item">
                欧美
            </div>
            <div class="ul-link-select__item">
                日韩
            </div>
        </div>
    </div>
</div>

<div class="ul-section">
    <div class="ul-link-select vertical">
        <div class="ul-link-select__title">
            分类:
        </div>
        <div class="ul-link-select__list">
            <div class="ul-link-select__item active">
                全部分类
            </div>
            <div class="ul-link-select__item">
                电子产品
            </div>
            <div class="ul-link-select__item">
                服装配饰
            </div>
            <div class="ul-link-select__item">
                家居用品
            </div>
            <div class="ul-link-select__item">
                运动户外
            </div>
        </div>
    </div>
</div>